<style type="text/css">
	.scrollDiv {
		height: 500px;
		overflow: auto;
		overflow-x: hidden;
	}
</style>
<style>
    .nav-tabs{
        float:left;
    }
    .contect-tabs{
        float:left;
    }
</style>
<div class="card animated fadeIn" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Cliente nuevo</strong>
			<br>
            <small class="text-muted" style="font-size:14px; margin-left:10px;">
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Cliente nuevo</a>
            </small>
        </header>
        <div class="tools">
            <button type="button" class="btn btn-default-bright btn-sm" ui-sref="home.catalogos.clientes" title="Cancelar cambios">Cancelar</button>
        </div>
    </div>
    <div class="card-body">
        <uib-tabset active="active" vertical="true" type="tabs">
            <uib-tab index="0">
                <uib-tab-heading>
                    <i class="fa fa-user"></i>  <small>Datos Personales</small>
                </uib-tab-heading>
                <form name="FormDatosPersonales" angular-validator-submit="$ctrl.AddDatosPersonales()" novalidate angular-validator>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="col-md-3">
                                <p>Contrato:</p>
                            </div>
                            <div class="col-md-3">
                                <p>Plaza:</p>
                            </div>
                            <div class="col-md-3">
                                <p>Periodo:</p>
                            </div>
                            <div class="col-md-3">
                                <p>Tipo de Cobro:</p>
                            </div>
                            <div class="col-md-3">
                                <input type="number" name="InpContrato" class="form-control input-sm" ng-model="$ctrl.Contrato" ng-disabled="true">
                            </div>
                            <div class="col-md-3">
                                <select name="SlcPlaza" class="form-control input-sm" ng-model="$ctrl.Plaza" ng-options="P.Nombre for P in $ctrl.PlazaList track by P.IdPlaza" validate-on="dirty" required required-message="'Obligatorio'">
                                    <option value="">Selecciona</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select name="SlcPeriodo" class="form-control input-sm" ng-model="$ctrl.Periodo" ng-options="PE.Descripcion for PE in $ctrl.PeriodoList track by PE.IdPeriodo" validate-on="dirty" required required-message="'Obligatorio'">
                                    <option value="">Selecciona</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select name="SclTipoCobro" class="form-control input-sm" ng-model="$ctrl.TipoCobro" validate-on="dirty" required required-message="'Obligatorio'">
                                    <option value="">Selecciona</option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <br>
                            </div>
                            <div class="col-md-3">
                                <p>Nombre:</p>
                            </div>
                            <div class="col-md-3">
                                <p>Nombres adicionales:</p>
                            </div>
                            <div class="col-md-3">
                                <p>Primer apellido:</p>
                            </div>
                            <div class="col-md-3">
                                <p>Segundo apellido:</p>
                            </div>
                            <div class="col-md-3">
                                <input type="text" name="InpNombre" class="form-control input-sm" ng-model="$ctrl.Nombre" validate-on="dirty" required required-message="'Obligatorio'">
                            </div>
                            <div class="col-md-3">
                                <input type="text" name="InpNombreAdi" class="form-control input-sm" ng-model="$ctrl.NombreAdi">
                            </div>
                            <div class="col-md-3">
                                <input type="text" name="InpPrimerApe" class="form-control input-sm" ng-model="$ctrl.PrimerApe" validate-on="dirty" required required-message="'Obligatorio'">
                            </div>
                            <div class="col-md-3">
                                <input type="text" name="InpSegundoApe" class="form-control input-sm" ng-model="$ctrl.SegundoApe">
                            </div>
                            <div class="col-md-12">
                                <br>
                            </div>
                            <div class="col-md-4">
                                <p>Clave de elector:</p>
                            </div>
                            <div class="col-md-4">
                                <p>Número telefónico:</p>
                            </div>
                            <div class="col-md-4">
                                <p>Número celular:</p>
                            </div>
                            <div class="col-md-4">
                                <input type="text" name="InpClaveElector" class="form-control input-sm" ng-model="$ctrl.ClaveElector" validate-on="dirty" required required-message="'Obligatorio'">
                            </div>
                            <div class="col-md-4">
                                <input type="text" name="InpTelefono" class="form-control input-sm" ng-model="$ctrl.Telefono" validate-on="dirty" ng-pattern="/^\d{10}$/" maxlength="10" required required-message="'Obligatorio'" invalid-message="'Inválido, Ingresa 10 dígitos.'">
                            </div>
                            <div class="col-md-4">
                                <input type="text" name="InpCelular" class="form-control input-sm" ng-model="$ctrl.Celular" validate-on="dirty" ng-pattern="/^\d{10}$/" maxlength="10" invalid-message="'Inválido, Ingresa 10 dígitos.'">
                            </div>
                            <div class="col-md-12">
                                <br>
                            </div>
                            <div class="col-md-4">
                                <p>Email:</p>
                            </div>
                            <div class="col-md-4">
                                <p>Tipo de persona:</p>
                            </div>
                            <div class="col-md-4">
                                <p>Fecha de nacimiento:</p>
                            </div>
                            <div class="col-md-4">
                                <input type="email" name="InpEmail" class="form-control input-sm" ng-model="$ctrl.Email" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Inválido'">
                            </div>
                            <div class="col-md-4">
                                <label class="radio-inline radio-styled">
                                    <input type="radio" name="RdoTipoPersona" ng-model="$ctrl.TipoPersona" value=1><span>Persona fisica</span>
                                </label>
                                <label class="radio-inline radio-styled">
                                    <input type="radio" name="RdoTipoPersona" ng-model="$ctrl.TipoPersona" value=0><span>Persona  moral</span>
                                </label>
                            </div>
                            <div class="col-md-4">
                                <input type="date" name="InpFechaNac" class="form-control input-sm" ng-model="$ctrl.FechaNsc" invalid-message="'Inválido'">
                            </div>
                            <div class="col-md-12">
                                <br>
                            </div>
                            <div class="col-md-12" style="text-align:right">
                                <button type="submit" class="btn btn-success btn-sm">Validar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </uib-tab>
            <uib-tab index="1">
                <uib-tab-heading>
                    <i class="fa fa-home"></i> <small>Datos Postales</small>
                </uib-tab-heading>
                <form name="FormDatosPostales" angular-validator-submit="$ctrl.AddDatosPostales()" novalidate angular-validator>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="col-md-4">
                                <p>Estado:</p>
                            </div>
                            <div class="col-md-4">
                                <p>Ciudad / Municipio:</p>
                            </div>
                            <div class="col-md-4">
                                <p>Localidad:</p>
                            </div>
                            <div class="col-md-4">
                                <select name="SltEstado" class="form-control input-sm" ng-model="$ctrl.Estado" validate-on="dirty" required required-message="'Obligatorio'">
                                    <option value="">Selecciona</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <select name="SltCiuMun" class="form-control input-sm" ng-model="$ctrl.CiuMun" validate-on="dirty" required required-message="'Obligatorio'">
                                    <option value="">Selecciona</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <select name="SltLocalidad" class="form-control input-sm" ng-model="$ctrl.Localidad" validate-on="dirty" required required-message="'Obligatorio'">
                                    <option value="">Selecciona</option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <br>
                            </div>
                            <div class="col-md-4">
                                <p>Colonia:</p>
                            </div>
                            <div class="col-md-4">
                                <p>Calle:</p>
                            </div>
                            <div class="col-md-4">
                                <p>Entre calles:</p>
                            </div>
                            <div class="col-md-4">
                                <select name="SltColonia" class="form-control input-sm" ng-model="$ctrl.Colonia" validate-on="dirty" required required-message="'Obligatorio'">
                                    <option value="">Selecciona</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <select name="SltCalle" class="form-control input-sm" ng-model="$ctrl.Callle" validate-on="dirty" required required-message="'Obligatorio'">
                                    <option value="">Selecciona</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <input name="InpEntCalles" type="text" class="form-control input-sm" ng-model="$ctrl.EntCalles" validate-on="dirty" required required-message="'Obligatorio'">
                            </div>
                            <div class="col-md-12">
                                <br>
                            </div>
                            <div class="col-md-4">
                                <p>Número exterior:</p>
                            </div>
                            <div class="col-md-4">
                                <p>Número interior:</p>
                            </div>
                            <div class="col-md-4">
                                <p>Código postal:</p>
                            </div>
                            <div class="col-md-4">
                                <input type="text" name="InpNumExt" class="form-control input-sm" ng-model="$ctrl.NumExt" maxlength="10" validate-on="dirty" required required-message="'Obligatorio'">
                            </div>
                            <div class="col-md-4">
                                <input type="text" name="InpNumInt" class="form-control input-sm" ng-model="$ctrl.NumInt" maxlength="10" validate-on="dirty">
                            </div>
                            <div class="col-md-4">
                                <input type="text" name="InpCodigoPos" class="form-control input-sm" ng-model="$ctrl.CodigoPos" maxlength="5" ng-pattern="/^\d{5}$/" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Inválido, Ingresa 5 dígitos.'">
                            </div>
                            <div class="col-md-12">
                                <br>
                            </div>
                            <div class="col-md-12" style="text-align:right">
                                <button type="submit" class="btn btn-success btn-sm">Validar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </uib-tab>
            <uib-tab index="2">
                <uib-tab-heading>
                    <i class="fa fa-building"></i> <small>Datos Fiscales</small>
                </uib-tab-heading>
                <form name="FormDatosFiscales" angular-validator-submit="$ctrl.AddDatosFiscales()" novalidate angular-validator>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="col-md-6">
                                <p>Razón social:</p>
                            </div>
                            <div class="col-md-3">
                                <p>RFC:</p>
                            </div>
                            <div class="col-md-3">
                                <p>CURP:</p>
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="InpRazonSoc" class="form-control input-sm" ng-model="$ctrl.RazonSoc" validate-on="dirty" required required-message="'Obligatorio'">
                            </div>
                            <div class="col-md-3">
                                <input type="text" name="InpRFC" class="form-control input-sm" ng-model="$ctrl.RFC" maxlength="13" ng-pattern="$ctrl.ValidateRFC" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Error, Ingresa RFC válido.'">
                            </div>
                            <div class="col-md-3">
                                <input type="text" name="InpCURP" class="form-control input-sm" ng-model="$ctrl.CURP" maxlength="18" ng-pattern="/^[A-Z]{4}\d{6}[A-Z]{6}\d{2}$/" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Error, Ingresa CURP válido.'">
                            </div>
                            <div class="col-md-12">
                                <br>
                            </div>
                            <div class="col-md-3">
                                <p>Calle:</p>
                            </div>
                            <div class="col-md-3">
                                <p>Número exterior:</p>
                            </div>
                            <div class="col-md-3">
                                <p>Número interior:</p>
                            </div>
                            <div class="col-md-3">
                                <p>Entre calles:</p>
                            </div>
                            <div class="col-md-3">
                                <input type="text" name="InpCalle" class="form-control input-sm" ng-model="$ctrl.Calle" validate-on="dirty" required required-message="'Obligatorio'">
                            </div>
                            <div class="col-md-3">
                                <input type="text" name="InpNumExt" class="form-control input-sm" ng-model="$ctrl.NumExt" maxlength="10" validate-on="dirty" required required-message="'Obligatorio'">
                            </div>
                            <div class="col-md-3">
                                <input type="text" name="InpNumInt" class="form-control input-sm" ng-model="$ctrl.NumInt" maxlength="10">
                            </div>
                            <div class="col-md-3">
                                <input type="text" name="InpEntCalles" class="form-control input-sm"  ng-model="$ctrl.EntCalles" validate-on="dirty" required required-message="'Obligatorio'">
                            </div>
                            <div class="col-md-12">
                                <br>
                            </div>
                            <div class="col-md-3">
                                <p>País:</p>
                            </div>
                            <div class="col-md-3">
                                <p>Estado:</p>
                            </div>
                            <div class="col-md-3">
                                <p>Ciudad / Municipio:</p>
                            </div>
                            <div class="col-md-3">
                                <p>Colonia:</p>
                            </div>
                            <div class="col-md-3">
                                <input type="text" name="InpPais" class="form-control input-sm"  ng-model="$ctrl.Pais" validate-on="dirty" required required-message="'Obligatorio'">
                            </div>
                            <div class="col-md-3">
                                <input type="text" name="InpEstado" class="form-control input-sm" ng-model="$ctrl.Estado" validate-on="dirty" required required-message="'Obligatorio'">
                            </div>
                            <div class="col-md-3">
                                <input type="text" name="InpCiuMun" class="form-control input-sm"  ng-model="$ctrl.CiuMun" validate-on="dirty" required required-message="'Obligatorio'">
                            </div>
                            <div class="col-md-3">
                                <input type="text" name="InpColonia" class="form-control input-sm" ng-model="$ctrl.Colonia" validate-on="dirty" required required-message="'Obligatorio'">
                            </div>
                            <div class="col-md-12">
                                <br>
                            </div>
                            <div class="col-md-3">
                                <p>Código postal:</p>
                            </div>
                            <div class="col-md-3">
                                <p>Teléfono:</p>
                            </div>
                            <div class="col-md-3">
                                <p>Fax:</p>
                            </div>
                            <div class="col-md-3">
                                <p>Email:</p>
                            </div>
                            <div class="col-md-3">
                                <input type="text" name="InpCodigoPos" class="form-control input-sm" ng-model="$ctrl.CodigoPos" maxlength="5" ng-pattern="/^\d{5}$/" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Inválido, Ingresa 5 dígitos.'">
                            </div>
                            <div class="col-md-3">
                                <input type="text" name="InpTelefono" class="form-control input-sm" ng-model="$ctrl.Telefono" maxlength="10" ng-pattern="/^\d{10}/" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Inválido, Ingresa 10 dígitos.'">
                            </div>
                            <div class="col-md-3">
                                <input type="text" name="InpFax" class="form-control input-sm" ng-model="$ctrl.Fax" validate-on="dirty">
                            </div>
                            <div class="col-md-3">
                                <input type="email" name="InpEmail" class="form-control input-sm" ng-model="$ctrl.Email" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Inválido'">
                            </div>
                            <div class="col-md-12">
                                <br>
                            </div>
                            <div class="col-md-12" style="text-align:right">
                                <button type="submit" class="btn btn-success btn-sm">Validar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </uib-tab>
            <uib-tab index="3">
                <uib-tab-heading>
                    <i class="fa fa-university"></i> <small>Datos Bancarios</small>
                </uib-tab-heading>
                <form name="FormDatosBancarios" angular-validator-submit="$ctrl.AddDatosBancarios()" novalidate angular-validator>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="col-md-4">
                                <p>Institución Bancaria:</p>
                            </div>
                            <div class="col-md-8">
                                <p>Nombre del titular de la tarjeta bancaria:</p>
                            </div>
                            <div class="col-md-4">
                                <select name="SltBanco" class="form-control input-sm" ng-model="$ctrl.Banco" validate-on="dirty" required required-message="'Obligatorio'">
                                    <option value="">Selecciona</option>
                                </select>
                            </div>
                            <div class="col-md-8">
                                <input name="InpTitular" type="text" class="form-control input-sm" ng-model="$ctrl.Titular" validate-on="dirty" required required-message="'Obligatorio'">
                            </div>
                            <div class="col-md-12">
                                <br>
                            </div>
                            <div class="col-md-4">
                                <p>Dígitos en la tarjeta:</p>
                            </div>
                            <div class="col-md-2">
                                <p>Código de seguridad:</p>
                            </div>
                            <div class="col-md-3">
                                <p>Mes de la fecha de vencimiento:</p>
                            </div>
                            <div class="col-md-3">
                                <p>Año de la fecha de vencimiento:</p>
                            </div>
                            <div class="col-md-4">
                                <input name="InpNumTarjeta" type="text" class="form-control input-sm" maxlength="16" ng-pattern="/^[A-Z]{16}|\d{16}$/" ng-model="$ctrl.NumTarjeta" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Inválido, Ingresa 15 dígitos o 16 dígitos.'">
                            </div>
                            <div class="col-md-2">
                                <input name="InpCodigoSeg" type="text" class="form-control input-sm" maxlength="4" ng-pattern="/^[A-Z]{4}|\d{4}$/" ng-model="$ctrl.CodigoSeg" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Inválido, Ingresa 4 dígitos.'">
                            </div>
                            <div class="col-md-3">
                                <select name="InpMesVen" class="form-control input-sm" ng-model="$ctrl.MesVen" validate-on="dirty" required required-message="'Obligatorio'">
                                    <option value="">Selecciona</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <input name="InpYearVen" type="text" class="form-control input-sm" ng-model="$ctrl.YearVen" maxlength="4" ng-pattern="/^\d{4}$/" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Inválido, Ingresa 4 dígitos.'">
                            </div>
                            <div class="col-md-12">
                                <br>
                            </div>
                            <div class="col-md-12">
                                <p>Tipo de plástico:</p>
                            </div>
                            <div class="col-md-12">
                                <label class="radio-inline radio-styled">
                                    <input type="radio" name="RdoTipoPlastico" ng-model="$ctrl.TipoPlastico" value="0"><span>VISA</span>
                                </label>
                                <label class="radio-inline radio-styled">
                                    <input type="radio" name="RdoTipoPlastico" ng-model="$ctrl.TipoPlastico" value="1"><span>American Express</span>
                                </label>
                                <label class="radio-inline radio-styled">
                                    <input type="radio" name="RdoTipoPlastico" ng-model="$ctrl.TipoPlastico" value="2"><span>MasterCard</span>
                                </label>
                            </div>
                            <div class="col-md-12">
                                <br>
                            </div>
                            <div class="col-md-12" style="text-align:right">
                                <button type="submit" class="btn btn-success btn-sm">Validar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </uib-tab>
            <uib-tab index="5">
                <uib-tab-heading>
                    <i class="md md-content-paste"></i> <small>Referencias personales</small>
                </uib-tab-heading>
                <div class="row">
                    <div class="col-md-10">
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>