<style type="text/css">
	.scrollDiv {
		height: 500px;
		overflow: auto;
		overflow-x: hidden;
	}
</style>
<div class="card animated fadeIn" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Catálogo Clientes</strong>
			<br>
            <small class="text-muted" style="font-size:14px; margin-left:10px;">
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Catálogo Clientes</a>
            </small>
        </header>
        <div class="tools">
			<div class="btn-group">
				<button type="button" class="btn btn-primary btn-sm" ui-sref="home.catalogos.cliente_nuevo" title="Crear un cliente nuevo"> nuevo cliente</button>
			</div>
		</div>
    </div>
    <div class="card-body">
        <div class="panel-group" id="accordion3">
			<div class="card panel">
                <div class="card-head card-head-xs collapsed" data-toggle="collapse" data-parent="#accordion3" data-target="#accordion3-1" aria-expanded="false">
					<header><i class="fa fa-search"></i> Buscar Cliente</header>
					<div class="tools">
						<a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
					</div>
				</div>
                <div id="accordion3-1" class="collapse buscarContrato" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <uib-tabset active="active">
                            <uib-tab index="0">
                                <uib-tab-heading>
                                    <i class="md md-content-paste"></i> Contrato
                                </uib-tab-heading>
                                <br>
                                <form name="FormSearchContrato" angular-validator-submit="$ctrl.SearchContrato()" novalidate angular-validator autocomplete="off">
                                    <div class="row">
                                        <div class="col-md-12">
                                            Ingrese el número de contrato
                                        </div>
                                        <div class="col-md-10">
                                            <input type="text" name="InpContrato" class="form-control input-sm" ng-model="$ctrl.Contrato" ng-pattern="/^\d{1,9}-\d{1,9}$/" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Inválido, Ingresa un contrato.'">
                                        </div>
                                        <div class="col-md-2" style="text-align:center">
                                            <button type="submit" class="btn btn-info btn-sm"><i class="fa fa-search"></i> Buscar</button>
                                        </div>
                                        <div class="col-md-12 note">
                                            <small>El número de contrato está formado por 2 grupos de números con un guion intermedio p.e. (1234-1)</small>
                                        </div>
                                    </div>
                                </form>
                                <footer>
                                    <p class="text-right"></p>
                                </footer>
                            </uib-tab>
                            <uib-tab index="1">
                                <uib-tab-heading>
                                    <i class="fa fa-home"></i> Dirección
                                </uib-tab-heading>
                                <br>
                                <form name="FormSearchDireccion" angular-validator-submit="$ctrl.SearchDireccion()" novalidate angular-validator autocomplete="off">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                Estado:
                                            </div>
                                            <div class="col-md-3">
                                                Ciudad:
                                            </div>
                                            <div class="col-md-3">
                                                Localidad:
                                            </div>
                                            <div class="col-md-3">
                                                Colonia:
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                <select name="SltEstado" class="form-control input-sm" ng-model="$ctrl.Estado" ng-options="E.Nombre for E in $ctrl.EstadoList track by E.Clv_Estado" ng-change="$ctrl.GetCiudadMunicipio()" validate-on="dirty" required required-message="'Obligatorio'">
                                                    <option value="">Selecciona</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <select name="CiuMun" class="form-control input-sm" ng-model="$ctrl.CiuMun" ng-options="CM.Nombre for CM in $ctrl.CiudadMunicipioList track by CM.Clv_Ciudad" ng-change="$ctrl.GetLocalidad()" validate-on="dirty" required required-message="'Obligatorio'">
                                                    <option value="">Selecciona</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <select name="SltLocalida" class="form-control input-sm" ng-model="$ctrl.Localidad" ng-options="L.NOMBRE for L in $ctrl.LocalidadList track by L.Clv_Localidad" ng-change="$ctrl.GetColonia()" validate-on="dirty" required required-message="'Obligatorio'">
                                                    <option value="">Selecciona</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <select name="SltColonia" class="form-control input-sm" ng-model="$ctrl.Colonia" ng-options="C.Nombre for C in $ctrl.ColoniaList track by C.CLV_COLONIA" ng-change="$ctrl.GetCalle()" validate-on="dirty" required required-message="'Obligatorio'">
                                                    <option value="">Selecciona</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                Calle:
                                            </div>
                                            <div class="col-md-3">
                                                Número:
                                            </div>
                                            <div class="col-md-3">
                                            </div>
                                            <div class="col-md-3">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                <select name="SltCalle" class="form-control input-sm" ng-model="$ctrl.Calle" ng-options="C.Nombre for C in $ctrl.CalleList track by C.Clv_Calle" validate-on="dirty" required required-message="'Obligatorio'">
                                                    <option value="">Selecciona</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <input name="InpNumero" type="text" class="form-control input-sm" ng-model="$ctrl.Numero" maxlength="10">
                                            </div>
                                            <div class="col-md-3">
                                            </div>
                                            <div class="col-md-3" style="text-align:center">
                                                <button type="submit" class="btn btn-info btn-sm"><i class="fa fa-search"></i> Buscar</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <footer>
                                    <p class="text-right"></p>
                                </footer>
                            </uib-tab>
                            <uib-tab index="2">
                                <uib-tab-heading>
                                    <i class="fa fa-user"></i> Nombre
                                </uib-tab-heading>
                                <br>
                                <form name="FormSearchNombre" angular-validator-submit="$ctrl.SearchNombre()" novalidate angular-validator autocomplete="off">
                                    <div class="row">
                                        <div class="col-md-12">
                                            Nombre completo:
                                        </div>
                                        <div class="col-md-10">
                                            <input type="text" name="InpNombre" class="form-control input-sm" ng-model="$ctrl.Nombre" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Inválido, Ingresa un nombre.'">
                                        </div>
                                        <div class="col-md-2" style="text-align:center">
                                            <button type="submit" class="btn btn-info btn-sm"><i class="fa fa-search"></i> Buscar</button>
                                        </div>
                                    </div>
                                </form>
                                <footer>
                                    <p class="text-right"></p>
                                </footer>
                            </uib-tab>
                            <uib-tab index="3">
                                <uib-tab-heading>
                                    <i class="fa fa-building"></i> Plaza
                                </uib-tab-heading>
                                <br>
                                <form name="FormSearchPlaza" angular-validator-submit="$ctrl.SearchPlaza()" novalidate angular-validator autocomplete="off">
                                    <div class="row">
                                        <div class="col-md-12">
                                            Plaza:
                                        </div>
                                        <div class="col-md-10">
                                            <select type="text" name="SltPlaza" class="form-control input-sm" ng-model="$ctrl.Plaza" ng-options="P.razon_social for P in $ctrl.PlazaList track by P.id_compania" validate-on="dirty" required required-message="'Obligatorio'">
                                                <option value="">Selecciona</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2" style="text-align:center">
                                            <button type="submit" class="btn btn-info btn-sm"><i class="fa fa-search"></i> Buscar</button>
                                        </div>
                                    </div>
                                </form>
                                <footer>
                                    <p class="text-right"></p>
                                </footer>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>
			</div>
        </div>
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th><b><small>ID</small></b></th>
                        <th><b><small>Nombre completo</small></b></th>
                        <th><b><small>Domicilio</small></b></th>
                        <th><b><small>Colonia</small></b></th>
                        <th><b><small>Ciudad</small></b></th>
                        <th><b><small>Teléfono</small></b></th>
                        <th><b><small>¿Internet?</small></b></th>
                        <th><b><small>Acciones</small></b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-show="$ctrl.SinRegistros">
                        <td class="text-center" colspan="10">SIN REGISTROS</td>
                    </tr>
                    <tr dir-paginate="X in $ctrl.ClienteList|orderBy:'IdContrato':true|itemsPerPage:7" ng-show="$ctrl.ConRegistros">
                        <td><small>{{ X.ContratoCom }}</small></td>
                        <td ng-if="X.SegundoNombre != null && X.Apellido_Materno != null"><small>{{ X.Nombre + ' ' + X.SegundoNombre + ' ' + X.Apellido_Paterno + ' ' + X.Apellido_Materno }}</small></td>
                        <td ng-if="X.SegundoNombre != null && X.Apellido_Materno == null"><small>{{ X.Nombre + ' ' + X.SegundoNombre + ' ' + X.Apellido_Paterno }}</small></td>
                        <td ng-if="X.SegundoNombre == null && X.Apellido_Materno != null"><small>{{ X.Nombre + ' ' + X.Apellido_Paterno + ' ' + X.Apellido_Materno }}</small></td>
                        <td ng-if="X.SegundoNombre == null && X.Apellido_Materno == null"><small>{{ X.Nombre + ' ' + X.Apellido_Paterno }}</small></td>
                        <td><small>{{ X.Calle }} #{{ X.NUMERO }} {{ X.NumInt }}</small></td>
                        <td><small>{{ X.Col }}</small></td>
                        <td><small>{{ X.Cd_Mun }}</small></td>
                        <td><small>{{ X.TELEFONO }}</small></td>
                        <td ng-if="X.SoloInternet == false"><small>{{ 'No' }}</small></td>
                        <td ng-if="X.SoloInternet == true"><small>{{ 'Si' }}</small></td>
                        <td><a type="button" class="btn btn-warning btn-xs" ui-sref="home.catalogos.cliente_editar({ id: X.CONTRATO })" title="Editar Cliente"><i class="fa fa-pencil-square-o"></i> EDITAR</a></td>
                    </tr>
                </tbody>
            </table>
            <br>
            <div style="margin-top:-40px;">
                <dir-pagination-controls max-size="7" direction-links="true" boundary-links="true" ng-if="$ctrl.ClienteList.length > 0">
                </dir-pagination-controls>
            </div>
        </div>
        <br>
    </div>
</div>