<style type="text/css">
	.scrollDiv {
		height: 500px;
		overflow: auto;
		overflow-x: hidden;
	}
</style>
<div class="card animated fadeIn" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Catálogo Estados</strong>
			<br>
            <small class="text-muted" style="font-size:14px; margin-left:10px;">
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Catálogo Estados</a>
            </small>
        </header>
    </div>
    <div class="card-body">
        <!--<div class="panel-group" id="accordion3">
            <div class="card panel">
                <div class="card-head card-head-xs collapsed" data-toggle="collapse" data-parent="#accordion3" data-target="#accordion3-1" aria-expanded="false">
                    <header><i class="fa fa-plus-circle"></i> Nueva Comisión</header>
                    <div class="tools">
		                <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
	                </div>
                </div>
                <div id="accordion3-1" class="collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <hr>
                        <div class="row">
                            <div class="col-md-2">
                                <p>Tipo de servicio:</p>
                            </div>
                            <div class="col-md-3">
                                <p>Servicio:</p>
                            </div>
                            <div class="col-md-4">
                                <P>Rango de comisión:</P>
                            </div>
                            <div class="col-md-2">
                                <p>Comisión:</p>
                            </div>
                        </div>
                        <form angular-validator-submit="$ctrl.AgregarComisionVendedor()" name="FormAgreComVendedor" novalidate angular-validator>
                            <div class="row">
                                <div class="col-md-2">
                                    <select class="form-control input-sm"
                                     ng-model="$ctrl.TipoServico" 
                                     ng-options="TS.Concepto for TS in $ctrl.TipoServiciosLista track by TS.Clv_TipSerPrincipal"
                                      ng-change="$ctrl.BuscarServicio()" validate-on="dirty" 
                                      required required-message="'Este campo es obligatorio'" name="TipoServico">
                                        <option value="">Selecciona</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <select class="form-control input-sm" ng-model="$ctrl.Servicio" ng-options="S.Descripcion for S in $ctrl.ServiciosLista track by S.Clv_Servicio" validate-on="dirty" required required-message="'Este campo es obligatorio'" name="Servico">
                                        <option value="">Selecciona</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <input type="number" class="form-control input-sm" ng-model="$ctrl.RangoInicial" placeholder="Rango inicial" validate-on="dirty" required required-message="'Este campo es obligatorio'" name="RangoInicial">
                                </div>
                                <div class="col-md-2">
                                    <input type="number" class="form-control input-sm" ng-model="$ctrl.RangoFinal" placeholder="Rango final" validate-on="dirty" required required-message="'Este campo es obligatorio'" name="RangoFinal">
                                </div>
                                <div class="col-md-2">
                                    <input type="number" class="form-control input-sm" ng-model="$ctrl.Comision" placeholder="Comisión" validate-on="dirty" required required-message="'Este campo es obligatorio'" name="Comision">
                                </div>
                            </div>
                            <br>
                            <div style="text-align:right">
                                <button type="submit" class="btn btn-primary btn-sm" title="Guardar comisión"><i class="fa fa-floppy-o"></i> GUARDAR</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="row">
			<div class="col-md-12">
                <div class="col-md-7">
                </div>
                <div class="col-md-3" style="text-align:right">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" placeholder="Buscar Estado">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
                <div class="col-md-2" style="text-align:right">
				    <button type="button" class="btn btn-primary btn-sm" ng-click="" title="Crear un estado nuevo">NUEVO ESTADO</button>
			    </div>
			</div>
        </div>
        <div class="col-md-12">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="10%"><b>Id</b></th>
                            <th width="60%"><b>Nombre del Estado</b></th>
                            <th width="30%" colspan="2"><b>Acciones</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-show="$ctrl.sinRegistros">
							<td class="text-center" colspan="4">SIN REGISTROS</td>
						</tr>
                        <!--<tr dir-paginate="X in $ctrl.ComisionVLista|itemsPerPage:7" ng-show="$ctrl.conRegistros">-->
                        <tr>
                            <td>{{ X.IdComision }}</td>
                            <td>{{ X.TipServ }}</td>
                            <td><button type="button" class="btn btn-danger btn-xs" ng-click="$ctrl.ConfirmarEliminar(X.IdComision)" title="Eliminar Estado"><i class="fa fa-trash"></i> ELIMINAR</button></td>
                            <td><button type="button" class="btn btn-warning btn-xs" title="Editar Estado"><i class="fa fa-pencil-square-o"></i> EDITAR</button>
                        </tr>
                    </tbody>
                </table>
                <div style="margin-top:-40px;">
					<dir-pagination-controls max-size="7" direction-links="true" boundary-links="true" ng-if="$ctrl.ComisionVLista.length > 0">
					</dir-pagination-controls>
				</div>
            </div>
        </div>
    <!--</div>-->
</div>