<div class="modal-header">
    <button class="close" type="button" aria-label="close" ng-click="ctrl.cancel()">x</button>
    <h4 class="modal-title"><i class="fa fa-exclamation-triangle"></i> Eliminar concepto - {{ ctrl.CLV_LLAVE }}</h4>
</div>
<div class="modal-body">
    <p><b>¿Realmente desea eliminar el registro?</b></p>
    <p><b>Nombre Concepto:</b> {{ ctrl.CONCEPTO }}</p>
</div>
<div class="modal-footer">
    <button class="btn btn-danger btn-sm" type="button" ng-click="ctrl.DeleteConcepto()" title="Eliminar Servicio">Eliminar</button>
    <button class="btn bnt-default btn-sm" type="button" ng-click="ctrl.cancel()" title="Salir">Cancelar</button>
</div>