<div class="modal-header">
    <button class="close" type="button" aria-label="close" ng-click="ctrl.cancel()">x</button>
    <h4 class="modal-title"><i class="fa fa-exclamation-triangle"></i> Eliminar registro {{ ctrl.IdCiudad }}</h4>
</div>
<div class="modal-body">
    <p><b>¿Realmente desea eliminar la ciudad?</b></p>
    <p><b>Nombre Ciudad:</b> {{ ctrl.Ciudad }}</p>
</div>
<div class="modal-footer">
    <button class="btn btn-danger btn-sm" type="button" ng-click="ctrl.DeleteCiudad()" title="Eliminar Ciudad">Eliminar</button>
    <button class="btn bnt-default btn-sm" type="button" ng-click="ctrl.cancel()" title="Salir">Cancelar</button>
</div>