<div class="modal-header">
    <button class="close" type="button" aria-label="close" ng-click="ctrl.cancel()">x</button>
    <h4 class="modal-title"><i class="fa fa-exclamation-triangle"></i> Confirmar</h4>
</div>
<div class="modal-body">
    <p>¿Realmente desea eliminar la ciudad?</p>
    <p><b>Nombre Ciudad:</b> {{  }}</p>
    <p><b>Estado(s):</b> {{  }}</p>
</div>
<div class="modal-footer">
    <button class="btn btn-danger btn-sm" type="button" ng-click="ctrl.DeletRefPersonal()" title="Eliminar Ciudad">Eliminar</button>
    <button class="btn bnt-default btn-sm" type="button" ng-click="ctrl.cancel()" title="Salir">Cancelar</button>
</div>