<style type="text/css">
    .table-scroll {
        height:150px;
        overflow:auto;  
        margin-top:20px;
    }
</style>
<form name="FormCiudad" angular-validator-submit="ctrl.SaveCiudad()" novalidate angular-validator autocomplete="off">
    <div class="modal-header">
        <button class="close" type="button" aria-label="close" ng-click="ctrl.cancel()">x</button>
        <h4 class="modal-title"><i ng-class="ctrl.Icono"></i> {{ ctrl.Titulo }} {{ ctrl.IdCiudad }}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <p><b>Nombre de la ciudad:</b></p>
            </div>
            <div class="col-md-12">
                <input type="text" name="InpCiudad" class="form-control input-sm" style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();" ng-model="ctrl.Ciudad" validate-on="dirty" required required-message="'Obligatorio'">
            </div>
            <div class="col-md-12" ng-show="ctrl.ShowEdit">
                <br>
            </div>
            <div class="col-md-12" ng-show="ctrl.ShowEdit">
                <p><b>Estado(s):</b></p>
            </div>
            <div class="col-md-9" ng-show="ctrl.ShowEdit">
                <select name="SltEstado" class="form-control input-sm" ng-model="ctrl.Estado" ng-options="E.Nombre for E in ctrl.EstadoList track by E.Clv_Estado">
                    <option value="">Selecciona</option>
                </select>
            </div>
            <div class="col-md-3" style="text-align:right" ng-show="ctrl.ShowEdit">
                <button type="button" class="btn btn-success bt-sm" title="Agregar Relación Estado" ng-click="ctrl.AddRelEst()">Agregar</button>
            </div>
        </div>
        <br>
        <div class="row" ng-show="ctrl.ShowEdit">
            <div class="col-md-12">
                <div class="col-md-12 table-scroll">
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="80%"><b>Estado</b></th>
                                <th width="20%"><b>Acciones</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="X in ctrl.RelEstViewList">
                                <td>{{ X.Estado }}</td>
                                <td><button type="button" class="btn btn-danger btn-xs" title="Eliminar Estado" ng-click="ctrl.DeleteRelEst(X.IdEstado, X.IdMunicipio)">Eliminar</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-sm" title="Guardar ciudad">Guardar</button>
        <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.cancel()" title="Salir">Cancelar</button>
    </div>
</form>