<form name="FormConcepto" angular-validator-submit="ctrl.SaveConcepto()" novalidate angular-validator autocomplete="off">
    <div class="modal-header">
        <button class="close" type="button" aria-label="close" ng-click="ctrl.cancel()">x</button>
        <h4 class="modal-title"><i class="fa fa-plus"></i> Nuevo Concepto</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <b>Concepto:</b>
                </div>
                <div class="col-md-12">
                    <select class="form-control input-sm">
                        <option value="">Selecciona</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <h4><b>Precios del servicio:</b></h4>
                    <hr style="border:1px dotted;">
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12" style="text-align:center;">
                    <h4><b>Nueva</b></h4>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <b>Alámbrico:</b>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <input type="number" name="InpAlambrico" class="form-control input-sm" ng-model="ctrl.Alambrico" ng-pattern="/^\d{1,10}$/" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Inválido.'">
                </div>
            </div>
        </div>
        <!-- TV Digital -->
        <div class="row" ng-show="false">
            <div class="col-md-12">
                <div class="col-md-6">
                    <h4><b>Nueva</b></h4>
                </div>
                <div class="col-md-6">
                    <h4><b>Con servicio</b></h4>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <b>Principal:</b>
                    <input type="text" class="form-control input-sm">
                </div>
                <div class="col-md-6">
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <b>Adicional:</b>
                    <input type="text" class="form-control input-sm">
                </div>
                <div class="col-md-6">
                    <b>Adicional:</b>
                    <input type="text" class="form-control input-sm">
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <b>Adicional:</b>
                    <input type="text" class="form-control input-sm">
                </div>
                <div class="col-md-6">
                    <b>Adicional:</b>
                    <input type="text" class="form-control input-sm">
                </div>
            </div>
        </div>
        <!-- TV Digital -->
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <h4><b>Periodo de vigencia:</b></h4>
                    <hr style="border:1px dotted;">
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <b>Inicio:</b>
                </div>
                <div class="col-md-6">
                    <b>Final:</b>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <input type="date" class="form-control input-sm">
                </div>
                <div class="col-md-6">
                    <input type="date" class="form-control input-sm">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <h4><b>Opciones:</b></h4>
                    <hr style="border:1px dotted;">
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <label class="checkbox-inline checkbox-styled">
                        <input type="checkbox" name="" ng-model="ctrl.Vigente" ng-true-value="'Y'" ng-false-value="'N'"><span>Vigente</span>
                    </label>
                </div>
                <div class="col-md-6">
                    <label class="checkbox-inline checkbox-styled">
                        <input type="checkbox" name="" ng-model="ctrl.SeCobraMensualidad" ng-true-value="'Y'" ng-false-value="'N'"><span>Se cobra mensualidad</span>
                    </label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <label class="checkbox-inline checkbox-styled">
                        <input type="checkbox" name="" ng-model="ctrl.AplicaComision" ng-true-value="'Y'" ng-false-value="'N'"><span>Aplica comisión</span>
                    </label>
                </div>
                <div class="col-md-6">
                    <label class="checkbox-inline checkbox-styled">
                        <input type="checkbox" name="" ng-model="ctrl.GeneraOrden" ng-true-value="'Y'" ng-false-value="'N'" ng-change="ctrl.SetOrden()"><span>Genera orden</span>
                    </label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <label class="checkbox-inline checkbox-styled">
                        <input type="checkbox" name="" ng-model="ctrl.AvanzaMes" ng-true-value="'Y'" ng-false-value="'N'"><span>Avanza mes</span>
                    </label>
                </div>
                <div class="col-md-6">
                    <select class="form-control input-sm" ng-show="ctrl.ShowOrden">
                        <option value="">Selecciona orden</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="sumit" class="btn btn-primary btn-sm" title="Agregar Concepto">Agregar</button>
        <button class="btn bnt-default btn-sm" type="button" ng-click="ctrl.cancel()" title="Salir">Cancelar</button>
    </div>
</form>