<div class="modal-header">
    <button class="close" type="button" aria-label="close" ng-click="ctrl.cancel()">x</button>
    <h4 class="modal-title"><i class="fa fa-cogs"></i> Configuracón Servicio - {{ ctrl.Clv_Servicio }}</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <b>Distribuidor:</b>
            </div>
            <div class="col-md-6">
                <select name="SlcDistribuidor" class="form-control input-sm" ng-model="ctrl.Distribuidor" ng-options="D.Nombre for D in ctrl.DistribuidorList track by D.clv_plaza" ng-change="ctrl.GetRelComEstCiu()">
                    <option value="">Selecciona</option>
                </select>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <p><b>Áreas de presencia del distribuidor</b></p>
            </div>
            <div class="col-md-1">
                <b>Servicio:</b>
            </div>
            <div class="col-md-5">
                <select name="SlcServicio1" class="form-control input-sm" ng-model="ctrl.Servicio1" ng-options="S.Descripcion for S in ctrl.Servicio1List track by S.Clv_Servicio">
                    <option value="">Selecciona</option>
                </select>
            </div>
            <!--
            <div class="col-md-2">
            </div>
            -->
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th><b>Plaza</b></th>
                            <th><b>Estado</b></th>
                            <th><b>Municipio</b></th>
                            <th><b></b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="X in ctrl.RelComEstCiuList">
                            <td><small style="font-size:10px">{{ X.NomCompania }}</small></td>
                            <td><small style="font-size:10px">{{ X.NomEstado }}</small></td>
                            <td><small style="font-size:10px">{{ X.NomCiudad }}</small></td>
                            <td>
                                <button type="button" class="btn btn-warning btn-xs" title="Eliminar Ciudad" ng-click="ctrl.GetSerRelComEstCiu1(X)"><i class="fa fa-check"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="60%"><b>Servicio</b></th>
                            <th width="20%" colspan="2"><b>Plaza</b></th>
                            <th width="20%" colspan="2"><b>Todas</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="X in ctrl.Servicio2List">
                            <td><small style="font-size:10px">{{ X.Descripcion }}</small></td>
                            <td><button type="button" class="btn btn-success btn-xs" title="Agrega a la plaza seleccionada" ng-click="$ctrl.DeleteRelEstMun(X)"><i class="fa fa-save"></i></button></td>
                            <td><button type="button" class="btn btn-danger btn-xs" title="Elimina de la plaza seleccionada" ng-click="$ctrl.DeleteRelEstMun(X)"><i class="fa fa-trash"></i></button></td>
                            <td><button type="button" class="btn btn-success btn-xs" title="Agrega a todas las plazas" ng-click="$ctrl.DeleteRelEstMun(X)"><i class="fa fa-save"></i></button></td>
                            <td><button type="button" class="btn btn-danger btn-xs" title="Elimina de todas las plazas" ng-click="$ctrl.DeleteRelEstMun(X)"><i class="fa fa-trash"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
    <!--
    <div class="col-md-2" style="text-align:center">
        <button class="btn btn-success btn-sm">Agregar<br>a todas<br>las plazas</button>
        <br>
        <br>
        <button class="btn btn-danger btn-sm">Eliminar<br>de todas<br>las plazas</button>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="col-md-12">
                    <p><b>Áreas de presencia del distribuidor</b></p>
                </div>
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th><b>Plaza</b></th>
                                <th><b>Estado</b></th>
                                <th><b>Municipio</b></th>
                                <th><b></b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="X in $ctrl.RelEstMunViewList">
                                <td>{{ X.Estado }}</td>
                                <td>{{ X.Municipio }}</td>
                                <td>{{ X.Municipio }}</td>
                                <td><button type="button" class="btn btn-danger btn-xs" title="Eliminar Ciudad" ng-click="$ctrl.DeleteRelEstMun(X)">Eliminar</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <b>Servicio:</b>
                    </div>
                    <div class="col-md-6">
                        <select name="SlcServicio" class="form-control input-sm" ng-model="ctrl.Servicio" ng-options="S.Nombre for S in ctrl.ServicioList track by S.clv_plaza">S                            <option value="">Selecciona</option>
                            <option value="">Selecciona</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th><b>Servicio</b></th>
                                <th><b></b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="X in $ctrl.RelEstMunViewList">
                                <td>{{ X.Estado }}</td>
                                <td><button type="button" class="btn btn-danger btn-xs" title="Eliminar Ciudad" ng-click="$ctrl.DeleteRelEstMun(X)">Eliminar</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-2">
                <div class="col-md-12">
                </div>
            </div>
        </div>
    </div>
    -->
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" type="button" ng-click="ctrl.DeleteServicio()" title="Guardar Configuración">Guardar</button>
    <button class="btn bnt-default btn-sm" type="button" ng-click="ctrl.cancel()" title="Salir">Cancelar</button>
</div>