<form name="FormCiudad" angular-validator-submit="ctrl.SaveCiudad()" novalidate angular-validator autocomplete="off">
    <div class="modal-header">
        <button class="close" type="button" aria-label="close" ng-click="ctrl.cancel()">x</button>
        <h4 class="modal-title"><i ng-class="ctrl.Icono"></i> {{ ctrl.Titulo }}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <p><b>Nombre de la ciudad:</b></p>
            </div>
            <div class="col-md-12">
                <input type="text" name="InpCiudad" class="form-control input-sm" ng-model="ctrl.Ciudad" validate-on="dirty" required required-message="'Obligatorio'">
            </div>
            <div class="col-md-12">
                <br>
            </div>
            <div class="col-md-12">
                <p><b>Estado(s):</b></p>
            </div>
            <div class="col-md-12">
                <select name="SltEstado" class="form-control input-sm" ng-model="ctrl.Estado" ng-options="E.Nombre for E in ctrl.EstadoList track by E.IdEstado" validate-on="dirty" required required-message="'Obligatorio'">
                    <option value="">Selecciona</option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-sm" title="Guardar ciudad">Guardar</button>
        <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.cancel()" title="Salir">Cancelar</button>
    </div>
</form>