<style type="text/css">
    .table-scroll {
        height:150px;
        overflow:auto;  
        margin-top:20px;
    }
</style>
<form name="FormCalle" angular-validator-submit="ctrl.SaveCalle()" novalidate angular-validator autocomplete="off">
    <div class="modal-header">
        <button class="close" type="button" aria-label="close" ng-click="ctrl.cancel()">x</button>
        <h4 class="modal-title"><i ng-class="ctrl.Icono"></i> {{ ctrl.Titulo }} {{ ctrl.IdCalle }}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <p><b><small>Nombre de la calle</small></b></p>
                </div>
                <div class="col-md-12">
                    <input name="InpCalle" type="text" class="form-control input-sm" ng-model="ctrl.Calle" validate-on="dirty" required required-message="'Obligatorio'">
                </div>
            </div>
        </div>
        <br>
        <p>Relación de la calle con las colonias</p>
        <hr style="border:1px dotted;">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <p><b><small>Estado:</small></b></p>
                </div>
                <div class="col-md-6">
                    <p><b><small>Ciudad:</small></b></p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <select name="SltEstado" class="form-control input-sm" ng-model="ctrl.Estado" ng-options="E.Nombre for E in ctrl.EstadoList track by E.IdEstado" ng-change="ctrl.GetMunicipio()">
                        <option value="">Selecciona</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <select name="SltCiudad" class="form-control input-sm" ng-model="ctrl.Municipio" ng-options="M.Municipio.Nombre for M in ctrl.MunicipioList track by M.Municipio.IdMunicipio" ng-change="ctrl.GetLocalidad()">
                        <option value="">Selecciona</option>
                    </select>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <p><b><small>Localidad:</small></b></p>
                </div>
                <div class="col-md-6">
                    <p><b><small>Colonia:</small></b></p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <select name="InpLocalidad" class="form-control input-sm" ng-model="ctrl.Localidad" ng-options="L.Localidad.Nombre for L in ctrl.LocalidadList track by L.Localidad.IdLocalidad" ng-change="ctrl.GetColonia()">
                        <option value="">Selecciona</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <select name="SltColonia" class="form-control input-sm" ng-model="ctrl.Colonia" ng-options="C.Colonia.Nombre for C in ctrl.ColoniaList track by C.Colonia.IdColonia">
                        <option value="">Selecciona</option>
                    </select>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12" style="text-align:right">
                    <button type="button" class="btn btn-success btn-sm" title="Agregar Relacion" ng-click="ctrl.AddRelCalle()">Agregar</button>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12 table-scroll">
                    <table class="table">
                        <thead>
                            <tr>
                                <th><b>Estado</b></th>
                                <th><b>Ciudad</b></th>
                                <th><b>Localidad</b></th>
                                <th><b>Colonia</b></th>
                                <th><b>Acciones</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="X in ctrl.RelCalleViewList">
                                <td>{{ X.Estado }}</td>
                                <td>{{ X.Municipio }}</td>
                                <td>{{ X.Localidad }}</td>
                                <td>{{ X.Colonia }}</td>
                                <td><button type="button" class="btn btn-danger btn-xs" title="Eliminar Relación" ng-click="ctrl.DeleteRelCalle(X)">Eliminar</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-sm" title="Guardar Calle">Guardar</button>
        <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.cancel()" title="Salir">Cancelar</button>
    </div>
</form>