<form name="FormTipoColonia" angular-validator-submit="ctrl.SaveTipoColonia()" novalidate angular-validator autocomplete="off">
    <div class="modal-header">
        <button class="close" type="button" aria-label="close" ng-click="ctrl.cancel()">x</button>
        <h4 class="modal-title"><i ng-class="ctrl.Icono"></i> {{ ctrl.Titulo }} {{ ctrl.IdTipoColonia }}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <p><b>Nombre del Tipo Colonia:</b></p>
            </div>
            <div class="col-md-12">
                <input type="text" name="InpTipoColonia" class="form-control input-sm" ng-model="ctrl.TipoColonia" validate-on="dirty" required required-message="'Obligatorio'">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-sm" title="Guardar Tipo Colonia">Guardar</button>
        <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.cancel()" title="Salir">Cancelar</button>
    </div>
</form>