<div class="modal-header">
    <button class="close" type="button" aria-label="close" ng-click="ctrl.cancel()">x</button>
    <h4 class="modal-title"><i class="fa fa-pencil-square-o"></i> Editar Referencia Personal - #{{ ctrl.IdReferencia }}</h4>
</div>
<form name="FormUpdateRefPersonal" angular-validator-submit="ctrl.UpdateRefPersonal()" novalidate angular-validator autocomplete="off">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-13">
               <div class="col-md-4">
                    <p>Nombre:</p>
                </div>
               <div class="col-md-4">
                    <p>Teléfono:</p>
                </div>
                <div class="col-md-4">
                    <p>Email:</p>
                </div>
                <div class="col-md-4">
                    <input type="text" name="InpNombreRef" class="form-control input-sm" style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();" ng-model="ctrl.NombreRef" validate-on="dirty" required required-message="'Obligatorio'">
                </div>
                <div class="col-md-4">
                    <input type="text" name="InpTelefonoRef" class="form-control input-sm" ng-model="ctrl.TelefonoRef" maxlength="10" ng-pattern="/^\d{8}$|^\d{10}$/" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Inválido, Ingresa minimo 8 dígitos.'">
                </div>
                <div class="col-md-4">
                    <input type="email" name="InpEmailRef" class="form-control input-sm" ng-model="ctrl.EmailRef" ng-pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$/" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Inválido'">
                </div>
                <div class="col-md-12">
                    <br>
                </div>
                <div class="col-md-12">
                    <p>Dirección:</p>
                </div>
                <div class="col-md-12">
                    <textarea name="InpDireccionRef" class="form-control input-sm" style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();" rows="4" ng-model="ctrl.DireccionRef" validate-on="dirty" required required-message="'Obligatorio'"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success btn-sm" title="Guardar cambios">Guardar</button>
        <button class="btn bnt-default btn-sm" type="button" ng-click="ctrl.cancel()" title="Salir">Cancelar</button>
    </div>
</form>