<style type="text/css">
    .table-scroll {
        height: 150px;
        overflow: auto;
        margin-top: 20px;
    }
</style>

<form name="FormLocalidad"  novalidate angular-validator autocomplete="off">
    <div class="modal-header">
        <button class="close" type="button" aria-label="close" title="Salir" ng-click="ctrl.cancel()">x</button>
        <h4 class="modal-title"><i ng-class="ctrl.Icono"></i> {{ ctrl.Titulo }}</h4>
    </div>
    <fieldset ng-disabled="ctrl.blockForm">
    <div class="modal-body">   
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <p><b><small>Clave:</small></b></p>
            </div>
            <div class="col-md-3">
                <p><b><small>Serie de aparato:</small></b></p>
            </div>
            <div class="col-md-3">
                <p><b><small>Estado:</small></b></p>
            </div>
         
        </div>
        <div class="col-md-12">
            <div class="col-md-3">
                <input name="InpClave" type="number" class="form-control input-sm" ng-model="$ctrl.Clave" validate-on="dirty" required required-message="'Obligatorio'">
            </div>
            <div class="col-md-3">
                <input name="InpSerie" type="number" class="form-control input-sm" ng-model="$ctrl.Serie" validate-on="dirty">
            </div>
            <div class="col-md-3">
                <input name="InpEstado" type="text" class="form-control input-sm" ng-model="$ctrl.Estado" validate-on="dirty" required required-message="'Obligatorio'">
            </div>
            
        </div>
    </div>
    
    <br>
    <div class="row">
            <div class="col-md-12">
                    <div class="col-md-3">
                        <p><b><small>Ubicacion:</small></b></p>
                    </div>
                    <div class="col-md-3">
                        <p><b><small>Descripcion:</small></b></p>
                    </div>
                    
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        <input name="InpUbicacion" type="text" class="form-control input-sm" ng-model="$ctrl.Ubicacion" validate-on="dirty" required required-message="'Obligatorio'">
                    </div>
                    <div class="col-md-3">
                        <input name="InpDescripcion" type="text" class="form-control input-sm" ng-model="$ctrl.Descripcion" validate-on="dirty">
                    </div>
                   
                    
                </div>
    </div>
    </div>
</fieldset>
    <div class="modal-footer">
 
            <td><button type="submit"  class="btn btn-primary btn-xs" ng-click="ctrl.cancel()" title="Aceptar"><i class="glyphicon glyphicon-ok"></i> ACEPTAR</button></td>
    </div>
</form>
