<style type="text/css">
	.scrollDiv {
		height: 500px;
		overflow: auto;
		overflow-x: hidden;
	}
</style>
<div class="card animated fadeIn" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Catálogo Plazas</strong>
			<br>
            <small class="text-muted" style="font-size:14px; margin-left:10px;">
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Catálogo Plazas</a>
            </small>
        </header>
    </div>
    <div class="card-body">
        <div class="row">
			<div class="col-md-12">
                <div class="col-md-3" style="text-align:right">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" placeholder="Buscar Plaza">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
                <div class="col-md-7">
                </div>
                <div class="col-md-2" style="text-align:right">
                    <button type="button" class="btn btn-primary btn-sm" ui-sref="home.catalogos.plaza_nueva" title="Crear una plaza nueva">NUEVA PLAZA</button>
			    </div>
			</div>
        </div>
        <br>
        <div class="col-md-12">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="10%"><b>Id</b></th>
                            <th width="70%"><b>Nombre de la plaza</b></th>
                            <th width="10%"><b>Acciones</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-show="$ctrl.sinRegistros">
							<td class="text-center" colspan="4">SIN REGISTROS</td>
						</tr>
                        <!--<tr dir-paginate="X in $ctrl.ComisionVLista|itemsPerPage:7" ng-show="$ctrl.conRegistros">-->
                        <tr>
                            <td>{{ X.IdComision }}</td>
                            <td>{{ X.TipServ }}</td>
                            <td>
                                <button type="button" class="btn btn-warning btn-xs" ui-sref="home.catalogos.plaza_editar" title="Editar Plaza"><i class="fa fa-pencil-square-o"></i> EDITAR</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <div style="margin-top:-40px;">
					<dir-pagination-controls max-size="7" direction-links="true" boundary-links="true" ng-if="$ctrl.ComisionVLista.length > 0">
					</dir-pagination-controls>
				</div>
                <br>
            </div>
        </div>
    </div>
</div>