<style type="text/css">
    .nav-tabs{
        float:left;
    }
    .contect-tabs{
        float:left;
    }
    .table-scroll {
        height:150px;
        overflow:auto;  
        margin-top:20px;
    }
</style>
<div class="card animated fadeIn" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">{{ $ctrl.Titulo }}</strong>
			<br>
            <small class="text-muted" style="font-size:14px; margin-left:10px;">
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">{{ $ctrl.Titulo }}</a>
            </small>
        </header>
        <div class="tools">
            <button type="button" class="btn btn-default-bright btn-sm" ui-sref="home.catalogos.servicios" title="Cancelar cambios">Cancelar</button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
			<div class="col-md-12">
                <div class="col-md-3">
                    <label class="checkbox-inline checkbox-styled">
                        <input type="checkbox" name="CbxCobroMensual" ng-model="$ctrl.CobroMensual" ng-true-value="'Y'" ng-false-value="'N'" ng-change="$ctrl.SetTipoCobro()"><span>Proceso Automático</span>
                    </label>
			    </div>
                <div class="col-md-3">
                    <label class="checkbox-inline checkbox-styled">
                        <input type="checkbox" name="CbxServicioMensual" ng-model="$ctrl.ServicioMensual" ng-true-value="'Y'" ng-false-value="'N'" ng-change="$ctrl.buscarStatus()"><span>Servicio Mensual</span>
                    </label>
			    </div>
                <div class="col-md-3">
                    <label class="checkbox-inline checkbox-styled" ng-show="$ctrl.HideCobroMensual">
                        <input type="checkbox" name="CbxAplicaComision" ng-model="$ctrl.AplicaComision" ng-true-value="'Y'" ng-false-value="'N'"><span>Aplica Comisión</span>
                    </label>
			    </div>
                <div class="col-md-3">
                    <label class="checkbox-inline checkbox-styled" ng-show="$ctrl.HideCobroMensual">
                        <input type="checkbox" name="CbxGeneraOrden" ng-model="$ctrl.GeneraOrden" ng-true-value="'Y'" ng-false-value="'N'"><span>Proceso Genera Orden</span>
                    </label>
			    </div>
			</div>
        </div>
        <br>
        <div class="row">
			<div class="col-md-12">
                <div class="col-md-2">
                    <p><b>Clave:</b></p>
                </div>
                <div class="col-md-2">
                    <p><b>Precio:</b></p>
                </div>
                <div class="col-md-5">
                    <p><b>Descripción:</b></p>
                </div>
                <div class="col-md-3">
                    <p><b>Crea Orden:</b></p>
                </div>
			</div>
            <div class="col-md-12">
                <div class="col-md-2">
                    <input type="text" name="" class="form-control input-sm" ng-model="Clave">
                </div>
                <div class="col-md-2">
                    <input type="text" name="" class="form-control input-sm" ng-model="Precio">
                </div>
                <div class="col-md-5">
                    <input type="text" name="" class="form-control input-sm" ng-model="Descripcion">
                </div>
                <div class="col-md-3">
                    <input type="text" name="" class="form-control input-sm" ng-model="Orden">
                </div>
			</div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12" ng-show="$ctrl.ShowCobroMensual">
                <div class="col-md-12">
                    <uib-tabset active="active">
                        <uib-tab index="0">
                            <uib-tab-heading>
                                Detalle del Servicio
                            </uib-tab-heading>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <b>Tipo de cobro:</b>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <input type="text" name="InpTipoCobro" class="form-control input-sm" ng-model="TipoCobro">
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                         <uib-tabset vertical="true" type="tabs">
                                            <uib-tab index="2">
                                                <uib-tab-heading>
                                                    Todos
                                                </uib-tab-heading>
                                                <div class="row">
                                                    <div class="col-md-11">
                                                        <div class="col-md-10" style="text-align:center">
                                                            <b>Conceptos de todos los tipos de cobro</b>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <button type="button" class="btn btn-primary btn-sm" title="Agregar un concepto">Agregar Concepto</button>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <br>
                                                        </div>
                                                        <div class="col-md-12 table-scroll">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th><b>Concepto</b></th>
                                                                        <th><b>Precio</b></th>
                                                                        <th><b>Adicional</b></th>
                                                                        <th><b>Vigencia</b></th>
                                                                        <th><b>Avanza mes</b></th>
                                                                        <th><b>Comisión</b></th>
                                                                        <th><b>Orden</b></th>
                                                                        <th><b>Servicio al Cliente</b></th>
                                                                        <th><b>Acciones</b></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <!--<tr ng-repeat="X in $ctrl.RelEstMunViewList">-->
                                                                    </tr>
                                                                        <td>{{ X.Estado }}</td>
                                                                        <td>{{ X.Municipio }}</td>
                                                                        <td>{{ X.Municipio }}</td>
                                                                        <td>{{ X.Estado }}</td>
                                                                        <td>{{ X.Municipio }}</td>
                                                                        <td>{{ X.Municipio }}</td>
                                                                        <td>{{ X.Estado }}</td>
                                                                        <td>{{ X.Municipio }}</td>
                                                                        <td><button type="button" class="btn btn-danger btn-xs" title="Eliminar Ciudad" ng-click="$ctrl.DeleteRelEstMun(X)">Eliminar</button></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </uib-tab>
                                         </uib-tabset>
                                    </div>
                                </div>
                            </div>
                            <footer>
                                <p class="text-right"></p>
                            </footer>
                        </uib-tab>
                        <uib-tab index="1">
                            <uib-tab-heading>
                                Puntos de Descuento
                            </uib-tab-heading>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12" style="text-align:center">
                                        <b>Descuento por pronto pago y pago a meses</b>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <b>Puntos por pronto pago:</b>
                                    </div>
                                    <div class="col-md-3">
                                        <b>Puntos de 3 a 5 meses:</b>
                                    </div>
                                    <div class="col-md-3">
                                        <b>Puntos de 6 a 11 meses:</b>
                                    </div>
                                    <div class="col-md-3">
                                        <b>Puntos por más de 11 meses:</b>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <input type="number" name="" class="form-control input-sm" ng-model="">
                                    </div>
                                    <div class="col-md-3">
                                        <input type="number" name="" class="form-control input-sm" ng-model="">
                                    </div>
                                    <div class="col-md-3">
                                        <input type="number" name="" class="form-control input-sm" ng-model="">
                                    </div>
                                    <div class="col-md-3">
                                        <input type="number" name="" class="form-control input-sm" ng-model="">
                                    </div>
                                </div>
                            </div>
                            <footer>
                                <p class="text-right"></p>
                            </footer>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
        <br>
    </div>
</div>