<style type="text/css">
    .nav-tabs{
        float:left;
    }
    .contect-tabs{
        float:left;
    }
    .table-scroll {
        height:150px;
        overflow:auto;  
        margin-top:20px;
    }
</style>
<form name="FormServicios" angular-validator-submit="$ctrl.SaveServicios()" novalidate angular-validator autocomplete="off">
    <div class="card animated fadeIn" style="margin-top:20px;">
        <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
            <header>
                <strong style="font-weight:bold; border:none; margin-left:10px;">{{ $ctrl.Titulo }} {{ $ctrl.IdServicio }}</strong>
                <br>
                <small class="text-muted" style="font-size:14px; margin-left:10px;">
                    <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">{{ $ctrl.Titulo }} {{ $ctrl.IdServicio }}</a>
                </small>
            </header>
            <div class="tools">
                <button type="submit" class="btn btn-primary btn-sm" ng-click="" title="Guardar Servicio">Guardar</button>
                <button type="button" class="btn btn-default btn-sm" ui-sref="home.catalogos.servicios" title="Cancelar cambios">Cancelar</button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <label class="checkbox-inline checkbox-styled">
                            <input type="checkbox" name="CbxCobroMensual" ng-model="$ctrl.CobroMensual" ng-true-value="'Y'" ng-false-value="'N'" ng-change="$ctrl.SetTipoCobro()"><span>Cobro Mensual</span>
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox-inline checkbox-styled">
                            <input type="checkbox" name="CbxPrincipal" ng-model="$ctrl.Principal" ng-true-value="'Y'" ng-false-value="'N'" ng-change="$ctrl.buscarStatus()"><span>Principal</span>
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox-inline checkbox-styled" ng-show="$ctrl.HideCobroMensual">
                            <input type="checkbox" name="CbxAplicaComision" ng-model="$ctrl.AplicaComision" ng-true-value="'Y'" ng-false-value="'N'"><span>Aplica Comisión</span>
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="checkbox-inline checkbox-styled" ng-show="$ctrl.HideCobroMensual">
                            <input type="checkbox" name="CbxGeneraOrden" ng-model="$ctrl.GeneraOrden" ng-true-value="'Y'" ng-false-value="'N'" ng-change="$ctrl.SetOrden()"><span>Genera Orden</span>
                        </label>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-success btn-sm" ng-if="$ctrl.Clv_Servicio > 0 && $ctrl.Principal == 'Y'" ng-click="$ctrl.OpenConfigurar()">Condifurar Servicios</button>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <p><b>Clave:</b></p>
                    </div>
                    <div class="col-md-2">
                        <p ng-if="$ctrl.HideCobroMensual == true"><b>Precio:</b></p>
                    </div>
                    <div class="col-md-5">
                        <p><b>Descripción:</b></p>
                    </div>
                    <div class="col-md-3">
                        <p ng-show="$ctrl.ShowOrden"><b>Trabajo:</b></p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2">
                        <input type="text" name="InpClave" class="form-control input-sm" style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();" ng-model="$ctrl.Clave" maxlength="5" ng-pattern="/^[A-Z0-9]{5}$/" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Inválido, Ingresa 5 caracteres.'">
                    </div>
                    <div class="col-md-2">
                        <input type="number" name="InpPrecio" class="form-control input-sm" ng-model="$ctrl.Precio" ng-if="$ctrl.HideCobroMensual == true" min="1" maxlength="10" ng-pattern="/^\d{1,10}$/" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Inválido, Ingresa un precio.'">
                    </div>
                    <div class="col-md-5">
                        <input type="text" name="InpDescripcion" class="form-control input-sm" ng-model="$ctrl.Descripcion" validate-on="dirty" required required-message="'Obligatorio'">
                    </div>
                    <div class="col-md-3">
                        <select name="SlcTrabajo" class="form-control input-sm" ng-model="$ctrl.Trabajo" ng-options="T.Descripcion for T in $ctrl.TrabajoList track by T.Clv_Trabajo" ng-if="$ctrl.ShowOrden == true" validate-on="dirty" required required-message="'Obligatorio'">
                            <option value="">Selecciona</option>
                        </select>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12" ng-show="$ctrl.ShowCobroMensual">
                    <div class="col-md-12">
                        <uib-tabset active="active">
                            <uib-tab index="0">
                                <uib-tab-heading>
                                    Detalle del Servicio
                                </uib-tab-heading>
                                <div class="row">
                                    <div class="col-md-12">
                                        <br>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-2">
                                            <b>Tipo de cobro:</b>
                                        </div>
                                        <div class="col-md-4">
                                            <!--
                                            <multiple-autocomplete
                                                name="MulslcTipoCobro"
                                                ng-model="$ctrl.TipoCobro"
                                                object-property="DESCRIPCION"
                                                suggestions-arr="$ctrl.TipoCobroList">
                                            </multiple-autocomplete>
                                            -->
                                            <select name="SlcTipoCobro" class="form-control input-sm" ng-model="$ctrl.TipoCobro" ng-options="C.DESCRIPCION for C in $ctrl.TipoCobroList track by C.CLV_TIPOCLIENTE" ng-change="$ctrl.SetTipoCobroTab()">
                                                <option value="">Selecciona</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <div class="row" ng-if="$ctrl.TipoCobro != Undefined">
                                                <div class="col-md-12">
                                                    <div class="col-md-10" style="text-align:center">
                                                        <b>Conceptos para tipo de cobro {{ $ctrl.TipoCobro.DESCRIPCION }}</b>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <button type="button" class="btn btn-primary btn-sm" title="Agregar un concepto" ng-click="$ctrl.OpenAddConcepto($ctrl.TipoCobro.CLV_TIPOCLIENTE)">Agregar Concepto</button>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <br>
                                                    </div>
                                                    <div class="col-md-12 table-scroll">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th><b>Concepto</b></th>
                                                                    <th><b>Precio</b></th>
                                                                    <th><b>Adicional</b></th>
                                                                    <th><b>Vigencia</b></th>
                                                                    <th><b>Avanza mes</b></th>
                                                                    <th><b>Comisión</b></th>
                                                                    <th><b>Orden</b></th>
                                                                    <th><b>Servicio al Cliente</b></th>
                                                                    <th><b>Acciones</b></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="X in $ctrl.RelEstMunViewList">
                                                                    <td>{{ X.Estado }}</td>
                                                                    <td>{{ X.Municipio }}</td>
                                                                    <td>{{ X.Municipio }}</td>
                                                                    <td>{{ X.Estado }}</td>
                                                                    <td>{{ X.Municipio }}</td>
                                                                    <td>{{ X.Municipio }}</td>
                                                                    <td>{{ X.Estado }}</td>
                                                                    <td>{{ X.Municipio }}</td>
                                                                    <td><button type="button" class="btn btn-danger btn-xs" title="Eliminar Ciudad" ng-click="$ctrl.DeleteRelEstMun(X)">Eliminar</button></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--
                                            <uib-tabset vertical="true" type="tabs">
                                                <uib-tab index="$index + 1" ng-repeat="X in $ctrl.TipoCobro">
                                                    <uib-tab-heading>
                                                        {{ X.DESCRIPCION }}
                                                    </uib-tab-heading>
                                                    <div class="row">
                                                        <div class="col-md-10">
                                                            <div class="col-md-10" style="text-align:center">
                                                                <b>Conceptos para tipo de cobro {{ X.DESCRIPCION }}</b>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <button type="button" class="btn btn-primary btn-sm" title="Agregar un concepto" ng-click="$ctrl.OpenAddConcepto(X.CLV_TIPOCLIENTE)">Agregar Concepto</button>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <br>
                                                            </div>
                                                            <div class="col-md-12 table-scroll">
                                                                <table class="table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th><b>Concepto</b></th>
                                                                            <th><b>Precio</b></th>
                                                                            <th><b>Adicional</b></th>
                                                                            <th><b>Vigencia</b></th>
                                                                            <th><b>Avanza mes</b></th>
                                                                            <th><b>Comisión</b></th>
                                                                            <th><b>Orden</b></th>
                                                                            <th><b>Servicio al Cliente</b></th>
                                                                            <th><b>Acciones</b></th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr ng-repeat="X in $ctrl.RelEstMunViewList">
                                                                            <td>{{ X.Estado }}</td>
                                                                            <td>{{ X.Municipio }}</td>
                                                                            <td>{{ X.Municipio }}</td>
                                                                            <td>{{ X.Estado }}</td>
                                                                            <td>{{ X.Municipio }}</td>
                                                                            <td>{{ X.Municipio }}</td>
                                                                            <td>{{ X.Estado }}</td>
                                                                            <td>{{ X.Municipio }}</td>
                                                                            <td><button type="button" class="btn btn-danger btn-xs" title="Eliminar Ciudad" ng-click="$ctrl.DeleteRelEstMun(X)">Eliminar</button></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </uib-tab>
                                            </uib-tabset>
                                            -->
                                        </div>
                                    </div>
                                </div>
                                <footer>
                                    <p class="text-right"></p>
                                </footer>
                            </uib-tab>
                            <uib-tab index="1">
                                <uib-tab-heading>
                                    Puntos de Descuento
                                </uib-tab-heading>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-12" style="text-align:center">
                                            <b>Descuento por pronto pago y pago a meses</b>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <b>Puntos por pronto pago:</b>
                                        </div>
                                        <div class="col-md-3">
                                            <b>Puntos de 3 a 5 meses:</b>
                                        </div>
                                        <div class="col-md-3">
                                            <b>Puntos de 6 a 11 meses:</b>
                                        </div>
                                        <div class="col-md-3">
                                            <b>Puntos por más de 11 meses:</b>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <input type="number" name="ImpProntoPago" class="form-control input-sm" ng-if="$ctrl.ProntoPago" ng-pattern="/^\d{1,10}$/" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Inválido.'">
                                        </div>
                                        <div class="col-md-3">
                                            <input type="number" name="ImpMeses35" class="form-control input-sm" ng-if="$ctrl.Meses35" ng-pattern="/^\d{1,10}$/" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Inválido.'">
                                        </div>
                                        <div class="col-md-3">
                                            <input type="number" name="ImpMeses611" class="form-control input-sm" ng-if="$ctrl.Meses611" ng-pattern="/^\d{1,10}$/" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Inválido.'">
                                        </div>
                                        <div class="col-md-3">
                                            <input type="number" name="ImpMeses11" class="form-control input-sm" ng-if="$ctrl.Meses11" ng-pattern="/^\d{1,10}$/" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Inválido.'">
                                        </div>
                                    </div>
                                </div>
                                <footer>
                                    <p class="text-right"></p>
                                </footer>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>
            <br>
        </div>
    </div>
</form>