<style type="text/css">
  .table-scroll {
    height: 200px;
    overflow: auto;
    margin-top: 20px;
  }

</style>

<form name="FormSucursal" angular-validator-submit="$ctrl.SaveSucursal()" novalidate angular-validator autocomplete="off">
  <div class="card animated fadeIn" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
      <header>
        <strong style="font-weight:bold; border:none; margin-left:10px;">{{ $ctrl.Titulo }}</strong>
        <br>
        <small class="text-muted" style="font-size:14px; margin-left:10px;">
                                    <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">{{ $ctrl.Titulo }}</a>
                                </small>
      </header>
      <div class="tools">
        <button type="submit" ng-disabled="$ctrl.blocksave" class="btn btn-primary btn-sm" title="Guardar Sucursal"><i class="fa fa-save"></i> Guardar</button>

        <button type="button" class="btn btn-default btn-sm" ui-sref="home.catalogos.sucursales" title="Cancelar cambios"><i class="fa fa-back"></i> Cancelar</button>


      </div>

    </div>
    <fieldset ng-disabled="$ctrl.blockForm">
      <div class="card-body">



        <br>
        <div class="col-md-4">
          <div class="col-md-12">
            <label class="col-md-3 control-label blod">Plaza:</label>
            <div class="col-md-9">
              <select class="form-control input-sm" name="plaza" validate-on="dirty" 
              
              ng-model="$ctrl.plaza" ng-options="v.razon_social for v in $ctrl.plazas track by v.id_compania"
                required-message="'Este campo es obligatorio.'" required>
                <option value="">selecciona</option>
                   </select>
            </div>
          </div>

          <!--<div class="col-md-12">
            <label class="col-md-3 control-label blod">Clave:</label>
            <div class="col-md-9">
              <input type="text" class="form-control input-sm" name="clave" ng-model="$ctrl.clave" validate-on="dirty" required-message="'Este campo es obligatorio.'"
                required>
            </div>
          </div>-->


          <div class="col-md-12">
            <label class="col-md-3 control-label blod">Descripcion:</label>
            <div class="col-md-9">
              <input type="text" class="form-control input-sm" name="descripcion" ng-model="$ctrl.descripcion" validate-on="dirty" required-message="'Este campo es obligatorio.'"
                required>
            </div>
          </div>

          <div class="col-md-12">
            <label class="col-md-3 control-label blod">IP:</label>
            <div class="col-md-9">
              <input type="text" class="form-control input-sm" name="ip" ng-model="$ctrl.ip" validate-on="dirty" required-message="'Este campo es obligatorio.'"
                required>
            </div>
          </div>


          <div class="col-md-12">
            <label class="col-md-3 control-label blod">Impresora Facturas Fiscales:</label>
            <div class="col-md-9">
              <input type="text" class="form-control input-sm" name="impresoraff" ng-model="$ctrl.impresoraff" validate-on="dirty" required-message="'Este campo es obligatorio.'"
                required>
            </div>
          </div>

          <div class="col-md-12">
            <label class="col-md-3 control-label blod">Serie:</label>
            <div class="col-md-9">
              <input type="text" class="form-control input-sm" name="serie" ng-model="$ctrl.serie" validate-on="dirty" required-message="'Este campo es obligatorio.'"
                required>
            </div>
          </div>

          <div class="col-md-12">
            <label class="col-md-3 control-label blod">Ultimo folio usado:</label>
            <div class="col-md-9">
              <input type="text" class="form-control input-sm" name="folio" ng-model="$ctrl.folio" validate-on="dirty" required-message="'Este campo es obligatorio.'"
                required>
            </div>
          </div>


          <div class="col-md-12">
            <label class="col-md-3 control-label blod">:</label>
            <div class="col-md-9">
              <div class="checkbox checkbox-inline checkbox-styled">
                <label>
			<input type="checkbox" ng-model="$ctrl.Matriz"><span>Es matriz</span>
		</label>
              </div>
            </div>
          </div>



        </div>

        <div class="col-md-4">

          <div class="col-md-12">
            <label class="col-md-3 control-label blod">Impresora Tarjetas:</label>
            <div class="col-md-9">
              <input type="text" class="form-control input-sm" name="tarjetas" ng-model="$ctrl.tarjetas" validate-on="dirty" required-message="'Este campo es obligatorio.'"
                required>
            </div>
          </div>

          <div class="col-md-12">
            <label class="col-md-3 control-label blod">Impresora contratos:</label>
            <div class="col-md-9">
              <input type="text" class="form-control input-sm" name="contratos" ng-model="$ctrl.contratos" validate-on="dirty" required-message="'Este campo es obligatorio.'"
                required>
            </div>
          </div>

          <div class="col-md-12">
            <label class="col-md-3 control-label blod">Impresora tickets:</label>
            <div class="col-md-9">
              <input type="text" class="form-control input-sm" name="tickets" ng-model="$ctrl.tickets" validate-on="dirty" required-message="'Este campo es obligatorio.'"
                required>
            </div>
          </div>

          <div class="col-md-12">
            <label class="col-md-3 control-label blod">Horario de Atención:</label>
            <div class="col-md-9">
              <input type="text" class="form-control input-sm" name="atencion" ng-model="$ctrl.atencion" validate-on="dirty" required-message="'Este campo es obligatorio.'"
                required>
            </div>
          </div>

          <div class="col-md-12">
            <label class="col-md-3 control-label blod">Referencia bancaria:</label>
            <div class="col-md-9">
              <input type="text" class="form-control input-sm" name="referencia" ng-model="$ctrl.referencia" validate-on="dirty" required-message="'Este campo es obligatorio.'"
                required>
            </div>
          </div>


          <div class="col-md-12">
            <label class="col-md-3 control-label blod">Contacto:</label>
            <div class="col-md-9">
              <input type="text" class="form-control input-sm" name="contacto" ng-model="$ctrl.contacto" validate-on="dirty" required-message="'Este campo es obligatorio.'"
                required>
            </div>
          </div>


          <div class="col-md-12">
            <label class="col-md-3 control-label blod">Email:</label>
            <div class="col-md-9">
              <input type="text" class="form-control input-sm" name="email" ng-model="$ctrl.email" validate-on="dirty" required-message="'Este campo es obligatorio.'"
                required>
            </div>
          </div>

        </div>

        <div class="col-md-4">
          <p> Dirección de sucursal</p>

          <div class="col-md-12">
            <label class="col-md-3 control-label blod">Calle:</label>
            <div class="col-md-9">
              <input type="text" ng-disabled="$ctrl.Matriz" class="form-control input-sm" name="calle" ng-model="$ctrl.calle" validate-on="dirty" required-message="'Este campo es obligatorio.'"
                required>
            </div>
          </div>

          <div class="col-md-12">
            <label class="col-md-3 control-label blod">Numero:</label>
            <div class="col-md-9">
              <input type="number" ng-disabled="$ctrl.Matriz" class="form-control input-sm" name="numero" ng-model="$ctrl.numero" validate-on="dirty" required-message="'Este campo es obligatorio.'"
                required>
            </div>
          </div>

          <div class="col-md-12">
            <label class="col-md-3 control-label blod">Colonia:</label>
            <div class="col-md-9">
              <input type="text" ng-disabled="$ctrl.Matriz" class="form-control input-sm" name="colonia" ng-model="$ctrl.colonia" validate-on="dirty" required-message="'Este campo es obligatorio.'"
                required>
            </div>
          </div>

          <div class="col-md-12">
            <label class="col-md-3 control-label blod">C.P:</label>
            <div class="col-md-9">
              <input type="number" ng-disabled="$ctrl.Matriz" class="form-control input-sm" name="cp" ng-model="$ctrl.cp" validate-on="dirty" required-message="'Este campo es obligatorio.'"
                required>
            </div>
          </div>


          <div class="col-md-12">
            <label class="col-md-3 control-label blod">Municipio:</label>
            <div class="col-md-9">
              <input type="text" ng-disabled="$ctrl.Matriz" class="form-control input-sm" name="municipio" ng-model="$ctrl.municipio" validate-on="dirty" required-message="'Este campo es obligatorio.'"
                required>
            </div>
          </div>

          <div class="col-md-12">
            <label class="col-md-3 control-label blod">Telefono:</label>
            <div class="col-md-9">
              <input type="text" ng-disabled="$ctrl.Matriz"  class="form-control input-sm" name="telefono" ng-model="$ctrl.telefono" validate-on="dirty" required-message="'Este campo es obligatorio.'"
                required>
            </div>
          </div>

          <div class="col-md-12">
            <label class="col-md-3 control-label blod">Ciudad:</label>
            <div class="col-md-9">
              <input type="text" ng-disabled="$ctrl.Matriz" class="form-control input-sm" name="ciudad" ng-model="$ctrl.ciudad" validate-on="dirty" required-message="'Este campo es obligatorio.'"
                required>
            </div>
          </div>

        </div>






      </div>
  </div>

</form>
</fieldset>
