<div class="card" style="margin-top:10px;">
  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px;">Encuestas</strong>
      <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Catálogos</a></small>

    </header>
    <div class="tools">
      <button title="Crear una encuesta nueva" class="btn btn-primary btn-sm" type="button" ui-sref="home.encuestas.encuestanueva" permission permission-only="'encuestaAdd'"><i class="fa fa-plus" aria-hidden="true"></i> Crear Encuesta</button>
    </div>
  </div>



  <div class="card-body">

    <div class="col-md-12 table-responsive">

      <table class="table" >
        <thead>
          <tr>
            <td><b>ID</b></td>
            <td><b>Nombre Encuesta</b> </td>
            <td><b>Detalle</b></td>
            <td><b>Fecha</b></td>
             <td><b>Aplicada</b></td>
            <td><b>Opciones</b></td>
          </tr>
        </thead>
        <tbody>

          <tr  dir-paginate="x in $ctrl.Encuestas|orderBy:$ctrl.sortKey:reverse|filter:$ctrl.search|itemsPerPage:8">
            <td>{{x.IdEncuesta}}</td>
            <td>{{x.TituloEncuesta}}</td>
            <td>{{x.Descripcion}}</td>
            <td>{{x.FechaCreacion}}</td>
            <td>
              <button  title="Esta encuesta ya se aplicó a clientes" 
              class="btn ink-reaction btn-floating-action btn-xs btn-success"   >          
                <i class="fa fa-check"></i>
              </button>
            </td>
            <td>
            
              <button ng-disabled="x.Aplicada" title="Modificar encuesta" class="btn ink-reaction btn-floating-action btn-xs btn-warning" ui-sref="home.encuestas.encuestaedita({id:x.IdEncuesta})">
                <i class="fa fa-edit"></i>
              </button>

              <button title="Imprimir encuesta" class="btn ink-reaction btn-floating-action btn-xs btn-info"  ng-click="$ctrl.Imprime(x.IdEncuesta);">
                <i class="fa fa-print" ></i>
              </button>
              <button ng-disabled="x.Aplicada" title="Eliminar encuesta" class="btn ink-reaction btn-floating-action btn-xs btn-danger"  ng-click="$ctrl.DeleteEncuestas(x.IdEncuesta)" >
                <i class="fa fa-trash"></i>
              </button>
    <!--permission permission-only="'encuestasUpdate'"-->
          </tr>
        </tbody>
      </table>
      <div style="padding-left: 20px;">
        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
        </dir-pagination-controls>
      </div>
    </div>
  </div>
</div>
</div>
</div>
