<style>
  .dualmultiselect label {
    margin: 10px;
  }

  .dualmultiselect .btn {
    margin: 10px;
  }

  .dualmultiselect .pool {
    border: 1px solid #999;
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
    height: 250px;
    overflow-y: scroll;
  }

  .dualmultiselect .pool ul {
    list-style: none;
    padding-left: 0px;
  }

  .dualmultiselect .pool ul li {
    width: 100%;
    padding: 4px 8px 4px 4px;
    border-bottom: 1px dotted #CFCFCF;
  }

  .dualmultiselect .pool ul li a:hover {
    text-decoration: none;
  }

</style>




<form angular-validator-submit="$ctrl.AgregarEncuesta()" name="PregumntaForm" novalidate angular-validator>




  <div class="card" style="margin-top:10px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
      <header>
        <strong style="font-weight:bold; border:none; margin-left:10px;">{{$ctrl.Titulo}}</strong>
        <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Encuestas</a></small>

      </header>
      <div class="tools">
        
          <button title="Guardar encuesta" class="btn btn-primary btn-sm" type="submit"><i class="fa fa-save" aria-hidden="true"></i> Guardar</button>
          <button title="Cancelar cambios" class="btn btn-default btn-sm" type="button" ui-sref="home.encuestas.encuesta">Cancelar</button>
       
      </div>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <label><b>Nombre de la encuesta</b></label>
          <input type="text" class="form-control input-sm" name="npregunta" required-message="'Este campo es obligatorio'" ng-required="true"
            validate-on="dirty" ng-model="$ctrl.NombreEnc" placeholder="Nombre de la encuesta">

        </div>
        <div class="col-md-6">
          <label><b>Descripción</b></label>
          <input class="form-control input-sm" name="npregunta" required-message="'Este campo es obligatorio'" ng-required="true" validate-on="dirty"
            ng-model="$ctrl.DescripcionEnc" placeholder="Describe brevemente la finalidad de la encuesta">


        </div>

      </div>

      <div class="row ">
        <br>
        <h5 class="text-danger text-center ">Selecciona las preguntas que se añadiran a la encuesta</h5>
        <div class="col-md-12">
          <div class="dualmultiselect">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 text">
                <h6 class="text-center"><b>Preguntas disponibles</b></h6>
                <div class="pool">
                  <ul>
                    <li ng-repeat="item in $ctrl.obj.items">
                      <a href=""><b>{{ item.Pregunta }}</b> <br> <small style="padding-left:20px; color:green">Tipo : {{ item.TipoPreguntas.Descripcion }}</small></a>
                      <button title="Agregar pregunta a la encuesta" type="button" class="btn ink-reaction  btn-xs btn-success" ng-click="$ctrl.transfer($ctrl.obj.items, $ctrl.obj.selectedItems, $ctrl.obj.items.indexOf(item))"> Agregar <i class="md-chevron-right
"></i></button>
                      <a href="" ng-if="item.IdTipoPregunta==3" ng-click="$ctrl.respuestas(item.IdPregunta)" style="color:red"><b><i class="fa fa-eye"></i> ver respuestas</b></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <h6 class="text-center"><b>Preguntas seleccionadas</b></h6>                
                <div class="pool">
                  <ul>
                    <li ng-repeat="item in $ctrl.obj.selectedItems">
                      <a href=""><b>{{ item.Pregunta }}</b> <br> <small style="padding-left:20px; color:green">Tipo : {{ item.TipoPreguntas.Descripcion }}</small></a>
                      <button title="Quitar pregunta a la encuesta" ng-click="$ctrl.transfer($ctrl.obj.selectedItems, $ctrl.obj.items, $ctrl.obj.selectedItems.indexOf(item))" type="button" class="btn ink-reaction  btn-xs btn-warning"> <i class="md-chevron-left
" ></i> Quitar </button>
                      <a href="" ng-if="item.IdTipoPregunta==3" ng-click="$ctrl.respuestas(item.IdPregunta)" style="color:red"><b><i class="fa fa-eye"></i> ver respuestas</b></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>






    </div>

  </div>
</form>
