<div class="card" style="margin-top:10px;">
  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px;">Estadísticas</strong>
      <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> 
          <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Catálogos</a></small>

    </header>
    <div class="tools">
    </div>
  </div>

  <div class="card-body">
 <div class="col-md-12 table-responsive">

      <table class="table">
        <thead>
          <tr>
            <td><b>Nombre proceso</b></td>
            <td><b>Nombre encuesta</b> </td> 
            <td><b>Tipo servicio</b> </td>           
            <td><b>Opciones</b></td>
          </tr>
        </thead>
        <tbody>

          <tr ng-show="$ctrl.Procesos.length>0" dir-paginate="x in $ctrl.Procesos|orderBy:$ctrl.sortKey:reverse|filter:$ctrl.search|itemsPerPage:8">
            <td>{{x.NombreProceso}}</td>
            <td>{{x.Encuesta}}		</td>
            <td>{{x.TipSer}}			</td>
            <td>
               <button title="Consultar resultados" ui-sref="home.encuestas.estadisticasdetalle({id:x.IdProcesoEnc})"
               type="button" class="btn ink-reaction btn-sm btn-warning">
               <i class="md md-equalizer"></i> Resultados</button>
            </td>
            
          </tr>
        </tbody>
      </table>
      <div style="padding-left: 20px;">
        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
        </dir-pagination-controls>
      </div>
    </div>

 


  </div>
</div>
