<div class="modal-header">
    <button class="close" aria-label="Close" type="button" ng-click="ctrl.cancel()">×</button>
    <h4 class="modal-title">Atención</h4>
</div>
<div class="modal-body">
  <p>¿Realmente deseas terminar el proceso?
Sí terminas el proceso todas las encuestas pendientes serán cambiadas a terminadas afectando tus estadísticas.</p>

</div>
<div class="modal-footer">
    <button class="btn btn-danger btn-sm" type="button" ng-click="ctrl.ok()">Terminar proceso</button>
    <button class="btn btn-default btn-sm" type="button" ng-click="ctrl.cancel()">cerrar</button>
</div>