<form angular-validator-submit="$ctrl.AgregarPregunta()" name="PregumntaForm" novalidate angular-validator>
  <div class="card" style="margin-top:10px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
      <header>
        <strong style="font-weight:bold; border:none; margin-left:10px;">Nueva pregunta</strong>
        <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Encuestas</a></small>

      </header>
      <div class="tools">
       
          <button title="Guardar cambios" class="btn btn-primary btn-sm" type="submit"><i class="fa fa-save" aria-hidden="true"></i> Guardar</button>
          <button title="Cancelar cambios" class="btn btn-default btn-sm" type="button" ui-sref="home.encuestas.preguntas"> Cancelar</button>
       
      </div>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <label><b>Pregunta </b></label>
          <input type="text" class="form-control input-sm" name="npregunta" required-message="'Este campo es obligatorio'" ng-model="$ctrl.Npregunta"
            ng-required="true" validate-on="dirty" placeholder="Ingresa la pregunta">

        </div>
        <div class=" col-md-4 ">
          <label><b>Tipo de pregunta</b></label>
          <select class="form-control input-sm " name="tpregunta " required-message=" 'Este campo es obligatorio'
              " ng-required="true " validate-on="dirty " ng-change="$ctrl.cambioTipo(); " ng-model="$ctrl.TipoPregunta ">
                                        <option disabled=" " value="0 ">Selecciona el tipo de pregunta</option>
                                        <option value="1 ">Pregunta abierta</option>
                                        <option value="2 ">Pregunta cerrada</option>
                                        <option value="3 ">Pregunta con opciones multiples</option>
               
                                     </select>
        </div>
       

      </div>
      <br>
      <br>
      <div class="row " ng-show="$ctrl.opcionMultiple ">

        <div class="col-md-6 ">
        <div class="col-md-8">
        <angucomplete-alt 
              placeholder="Ingresa las respuestas"
              pause="100"
              ng-model="$ctrl.Resp"
              selected-object="$ctrl.selectedResp"
              local-data="$ctrl.Respuestas_"
              search-fields="ResOpcMult"
              title-field="ResOpcMult"
              minlength="1"              
              input-class="form-control input-sm"
              override-suggestions="true"
              >
        </div>
        <div class="col-md-4">
           <button type="button" ng-click="$ctrl.AgregaRespuesta()" class="btn btn-success btn-sm "><i class="fa fa-plus"></i> Agregar</button>
        </div>


        </div>
        <div class="col-md-6">
          <b>Respuestas</b> 
          <table class="table ">
            <tr style=" background-color: rgba(150, 156, 156, 0.08); ">

            </tr>
            <tr ng-repeat="s in $ctrl.Respuestas ">
              <td>{{s.ResOpcMult}}</td>
              <td><button title="Eliminar opción " type="button " class="btn ink-reaction btn-floating-action btn-xs btn-danger
              " ng-click="$ctrl.Elimina($index) "><i class="fa fa-trash "></i></button>

              </td>

            </tr>
          </table>


        </div>

      </div>










    </div>

  </div>
</form>
