<div class="card" style="margin-top:10px;">
  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px;">Preguntas</strong>
      <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Encuestas</a></small>

    </header>
    <div class="tools">
      <button title="Crear una nueva pregunta" class="btn btn-primary btn-sm" type="button" ui-sref="home.encuestas.nuevapregunta" permission permission-only="'preguntasAdd'"><i class="fa fa-plus" aria-hidden="true"></i> Nueva pregunta</button>
    </div>
  </div>



  <div class="card-body">

    <div class="col-md-12 table-responsive">

      <table class="table">
        <thead>
          <tr>
            <td><b>Id Pregunta</b></td>
            <td><b>Pregunta</b> </td>
            <td><b>Tipo Pregunta</b></td>
            <td><b>Opciones</b></td>
          </tr>
        </thead>
        <tbody>
          <tr ng-show="$ctrl.Preguntas.length>0" dir-paginate="x in $ctrl.Preguntas|orderBy:$ctrl.sortKey:reverse|filter:$ctrl.search|itemsPerPage:8">
            <td>{{x.IdPregunta}}</td>
            <td>{{x.Pregunta}}</td>
            <td>{{x.TipoPreguntas.Descripcion}}</td>
            <td>
              <button title="Ver opciones" ng-if="x.IdTipoPregunta==3" class="btn ink-reaction btn-floating-action btn-xs btn-info" ng-click="$ctrl.Detalle(x);"><i class="fa fa-eye"></i></button>
          </tr>
        </tbody>
      </table>
      <div style="padding-left: 20px;">
        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
        </dir-pagination-controls>
      </div>
    </div>

  </div>
</div>
</div>


</div>
