<div class="card animated fadeIn" style="margin-top:20px;">
  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px;">Configuración</strong>
      <br>
      <small class="text-muted" style="font-size:14px; margin-left:10px;">
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Configuración</a>><a href="#" class="paginaActiva">usuario</a>
            </small>
    </header>
    <div class="tools">
      
    </div>
  </div>
  <div class="card-body">
    <form angular-validator-submit="$ctrl.Cambiar()" name="PregumntaForm" novalidate angular-validator>

      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h4 class="text-center text-success">Bienvenido, para cambiar tu contraseña por favor ingresa tu contraseña actual</h4>
        </div>
        <br>
        <div class="col-md-8 col-md-offset-3" >
          <div class="col-md-3"><img src="images/padlock.svg" width="100"></div>
          <div class="col-md-5">
            <input type="password" class="form-control input-sm" 
            name="pswant" required-message="'Este campo es obligatorio'" ng-required="true"
            validate-on="dirty"
            ng-model="$ctrl.passwordant" placeholder="Ingresa la contraseña actual">
            <input type="password"
            name="pswnue" required-message="'Este campo es obligatorio'" ng-required="true"
            validate-on="dirty"
             class="form-control input-sm" ng-model="$ctrl.passwordnue" placeholder="Ingresa la nueva contraseña">
            <br>
            <button class="btn btn-sm btn-danger" type="submit">Acepto cambiar mi contraseña</button>
          </div>


        </div>


      </div>
    </form>
  </div>
</div>
