<div class="card animated fadeIn" style="margin-top:20px;">
  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px;">Configuración</strong>
      <br>
      <small class="text-muted" style="font-size:14px; margin-left:10px;">
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Configuración</a>><a href="#" class="paginaActiva">usuario</a>
            </small>
    </header>
    <div class="tools">
      <button type="submit" class="btn btn-primary btn-sm" title="Crear un rol nuevo">Guardar</button>
    </div>
  </div>
  <div class="card-body">


    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h4 class="text-center text-success">Bienvenido, para cambiar tu contraseña por favor ingresa tu contraseña actual</h4>
      </div>
      <div class="col-md-6 col-md-offset-3">
        <div class="col-md-3"></div>
        <div class="col-md-3">
          <input type="password" class="form-control" placeholder="Ingresa la contraseña actual">
          <input type="password" class="form-control" ng-model="$ctrl.password" placeholder="Ingresa la nueva contraseña">
        </div>
        <img src="images/padlock.svg" width="100">

      </div>


    </div>

  </div>
</div>
