<div class="card animated fadeIn fast" style="margin-top:20px;">
  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px;">Generales del sistema </strong>
      <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Configuración</a>><a href="#" class="paginaActiva">usuarios</a></small>

    </header>
    <div class="tools">

    </div>
  </div>
  <div class="card-body">

    <div class="col-md-12">

      <uib-tabset active="activeJustified">
        <uib-tab index="0" heading=" ">
          <uib-tab-heading>
            <i class="glyphicon glyphicon-calendar"></i> Periodo de corte
          </uib-tab-heading>
          <form angular-validator-submit="$ctrl.Guardarperiodo()" name="PeriodoForm" novalidate angular-validator>
            <div class="col-md-12">
              <h4 class="text-danger text-center">Periodo de corte</h4>
              <div class="col-md-4 col-md-offset-2">
                <div class="col-md-12">
                  <br>
                  <b>Periodo:</b>
                  <select name="periodo" ng-model="$ctrl.Periodo" class="form-control input-sm">
                     <option value="">selecciona periodo</option>
                 </select>

                </div>
                <div class="col-md-12">
                  <br>
                  <b>Clientes que contraten :</b>
                  <br>
                  <div class="col-md-12">
                    <div class="col-md-6">
                      Desde el dia :
                    </div>
                    <div class="col-md-6">
                      <input type="number" class="form-control input-sm" ng-model="$ctrl.dia1" name="dia1">
                    </div>

                  </div>
                  <div class="col-md-12">
                    <div class="col-md-6">
                      Hasta el dia :
                    </div>
                    <div class="col-md-6">
                      <input type="number" class="form-control input-sm" ng-model="$ctrl.dia2" name="dia2">
                    </div>

                  </div>


                </div>
              </div>

              <div class="col-md-4 ">
                <br>
                <div class="col-md-12">
                  <div class="col-md-6">
                    <b>Proceso de desconexión :</b>
                  </div>
                  <div class="col-md-6">
                    <input type="number" class="form-control input-sm" ng-model="$ctrl.desconexion" name="desconexion">
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="col-md-6">
                    <b>Dias limite para puntos :</b>
                  </div>
                  <div class="col-md-6">
                    <input type="number" class="form-control input-sm" ng-model="$ctrl.prontopago" name="prontopago">
                  </div>

                </div>

                <div class="col-md-12">
                  <div class="col-md-6">
                    <b>Dias limite para puntos de antiguedad:</b>
                  </div>
                  <div class="col-md-6">
                    <input type="number" class="form-control input-sm" ng-model="$ctrl.prontopagoantiguedad" name="prontopagoantiguedad">
                  </div>

                </div>

              </div>
            </div>
            <div class="col-md-12 text-right">
              <br>
              <button class="btn btn-success btn-sm" type="submit">GUARDAR </button>
            </div>
          </form>
        </uib-tab>
        <uib-tab index="1" heading="">
          <uib-tab-heading>
            <i class="glyphicon glyphicon-usd"></i> Impuestos
          </uib-tab-heading>
          <form angular-validator-submit="$ctrl.GuardarImpuestos()" name="ImpuestoForm" novalidate angular-validator>
            <div class="col-md-12">
              <div class="col-md-5 col-md-offset-3">

                <b class="text-center">Impuestos</b>
                <div class="col-md-12">
                  <br>
                  <div class="col-md-6">
                    <label>I.V.A %</label>
                  </div>
                  <div class="col-md-6">
                    <input type="number" class="form-control input-sm" name="iva" ng-model="$ctrl.iva">

                  </div>
                </div>

                <div class="col-md-12">
                  <br>
                  <div class="col-md-6">
                    <label class="checkbox-inline checkbox-styled checkbox-info">
														<input type="checkbox" checked="habilitaieps" ng-model="$ctr.habilitaIEPS"><span>Habilitar IEPS</span>
													</label>
                  </div>
                  <div class="col-md-6">
                    <label class="checkbox-inline checkbox-styled checkbox-info">
														<input type="checkbox" name="ivaieps" ng-model="$ctrl.IVAIEPS" checked=""><span>Calcular IVA incluyendo  IEPS</span>
													</label>

                  </div>
                </div>
                <div class="col-md-12">
                  <br>
                  <div class="col-md-6">
                    IEPS %<input type="number" name="ieps" ng-model="$ctrl.IEPS" class="form-control input-sm">
                  </div>
                  <div class="col-md-6">
                    <br>
                    <input type="text" name="totalieps" ng-model="$ctrl.totalieps" class="form-control input-sm">
                  </div>

                </div>
                <div class="col-md-12">
                  <br>
                  <div class="col-md-6">
                    Cta.IEPS
                  </div>
                  <div class="col-md-6">
                    <input type="text" name="ctaieps" ng-model="$ctrl.ctaieps" class="form-control input-sm">
                  </div>
                </div>
                <div class="col-md-12">
                  <br>
                  <button class="btn btn-success btn-sm" type="submit">Guardar</button>
                </div>
              </div>
            </div>

          </form>

        </uib-tab>
        <uib-tab index="2" heading="">
          <uib-tab-heading>
            <i class="glyphicon glyphicon-bell"></i> Cobro de material
          </uib-tab-heading>
          <form angular-validator-submit="$ctrl.Guardarcobro()" name="ImpuestoForm" novalidate angular-validator>
            <div class="col-md-12">
              <br>
              <h4 class="text-danger text-center">Configuración de rangos de montos por cobro de material diferido</h4>

              <br>
              <br>
              <div class="col-md-4 col-md-offset-2">

                <div class="col-md-12">
                  <div class="col-md-12">
                    Rango Inicial
                    <input type="number" class="form-control input-sm " name="rangoinicial" ng-model="$ctrl.rangoinicial">
                  </div>
                  <div class="col-md-12">
                    Rango Final
                    <input type="number" class="form-control input-sm " name="rangofinal" ng-model="$ctrl.rangofinal">
                  </div>
                  <div class="col-md-12">
                    Num. max. de pagos diferidos
                    <input type="number" class="form-control input-sm " name="pagosdiferidos" ng-model="$ctrl.pagosdiferidos">
                  </div>

                </div>



              </div>
              <div class="col-md-5">
                <table class="table">
                  <thead>
                    <th>Rango inicial</th>
                    <th>Rango Final</th>
                    <th>Número máximo de pagos diferidos</th>
                    <th>Opciones</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><button class="btn btn-xs btn-danger"> <i class="fa fa-trash"></i> Eliminar</button></td>
                    </tr>
                  </tbody>
                </table>

              </div>
              <div class="col-md-12 text-right">
                <button class="btn btn-sm btn-success" type="submit">Aceptar</button>
              </div>
            </div>
          </form>

        </uib-tab>
        <uib-tab index="3" heading="">

          <uib-tab-heading>
            <i class="glyphicon glyphicon-tags"></i>  Promociones
          </uib-tab-heading>

        </uib-tab>
        <uib-tab index="4" heading="">

          <uib-tab-heading>
            <i class="glyphicon glyphicon-home"></i>   Datos de la empresa
          </uib-tab-heading>

          <form angular-validator-submit="$ctrl.Guardarinfoempresa()" name="ImpuestoForm" novalidate angular-validator>
            <div class="col-md-12">
              <br>
              <h4 class="text-danger text-center">Datos generales de la empresa</h4>
              <br>
              <div class="col-md-4 col-md-offset-2">
                <div class="col-md-12">
                  <div class="col-md-5">
                    <label><b>Empresa</b></label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control input-sm" name="empresa" ng-model="$ctrl.empresa">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-5">
                    <label><b>Dirección</b></label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control input-sm" name="direccion" ng-model="$ctrl.direccion">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-5">
                    <label><b>Numero exterior</b></label>
                  </div>
                  <div class="col-md-6">
                    <input type="number" class="form-control input-sm" name="numeroexterior" ng-model="$ctrl.numeroexterior">
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="col-md-5">
                    <label><b>Numero Interior</b></label>
                  </div>
                  <div class="col-md-6">
                    <input type="number" class="form-control input-sm" name="numeroint" ng-model="$ctrl.numeroint">
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="col-md-5">
                    <label><b>Colonia</b></label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control input-sm" name="colonia" ng-model="$ctrl.colonia">
                  </div>
                </div>





              </div>
              <div class="col-md-4">
                <div class="col-md-12">
                  <div class="col-md-5">
                    <label><b>Código postal</b></label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control input-sm" name="cp" ng-model="$ctrl.cp">
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="col-md-5">
                    <label><b>Ciudad</b></label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control input-sm" name="ciudad" ng-model="$ctrl.ciudad">
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="col-md-5">
                    <label><b>Estado</b></label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control input-sm" name="estado" ng-model="$ctrl.estado">
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="col-md-5">
                    <label><b>RFC</b></label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control input-sm" name="estado" ng-model="$ctrl.rfc">
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="col-md-5">
                    <label><b>Teléfono</b></label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control input-sm" name="telefono" ng-model="$ctrl.telefono">
                  </div>
                </div>


              </div>
            </div>
            <div class="col-md-12 text-right">
              <br>
              <button class="btn btn-success btn-sm" type="submit">Guardar</button>
            </div>
          </form>

        </uib-tab>
        <uib-tab index="5" heading="">
          <uib-tab-heading>
            <i class="glyphicon glyphicon-wrench"></i> Configuración de Edo. Cuenta
          </uib-tab-heading>
        <input colorpicker ng-model="hexPicker.color" type="text">
        </uib-tab>
      </uib-tabset>



    </div>


  </div>
</div>
