<div class="card animated fadeIn fast" style="margin-top:20px;">
  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px;">Generales del sistema </strong>
      <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Configuración</a>><a href="#" class="paginaActiva">usuarios</a></small>

    </header>
    <div class="tools">

    </div>
  </div>
  <div class="card-body">

    <div class="col-md-12">

      <uib-tabset active="activeJustified">
        <uib-tab index="0" heading=" ">
          <uib-tab-heading>
            <i class="glyphicon glyphicon-calendar"></i> Periodo de corte
          </uib-tab-heading>
          <form angular-validator-submit="$ctrl.Guardarperiodo()" name="PeriodoForm" novalidate angular-validator>
            <div class="col-md-12">
              <h4 class="text-danger text-center">Periodo de corte</h4>
              <div class="col-md-4 col-md-offset-2">
                <div class="col-md-12">
                  <br>
                  <b>Periodo:</b>
                  <select name="periodo" ng-model="$ctrl.Periodo" ng-options="item as item.Descripcion for item in $ctrl.periodos track by item.Clv_periodo"
                    class="form-control input-sm" ng-change="$ctrl.detalleperiodo()">
                     <option value="">selecciona periodo</option>
                 </select>

                </div>
                <div class="col-md-12">
                  <br>
                  <b>Clientes que contraten :</b>
                  <br>
                  <div class="col-md-12">
                    <div class="col-md-6">
                      Desde el dia :
                    </div>
                    <div class="col-md-6">
                      <input type="number" class="form-control input-sm" ng-model="$ctrl.periodoCorte.diaInicial" name="dia1">
                    </div>

                  </div>
                  <div class="col-md-12">
                    <div class="col-md-6">
                      Hasta el dia :
                    </div>
                    <div class="col-md-6">
                      <input type="number" class="form-control input-sm" ng-model="$ctrl.periodoCorte.diaFinal" name="dia2">
                    </div>

                  </div>


                </div>
              </div>

              <div class="col-md-4 ">
                <br>
                <div class="col-md-12">
                  <div class="col-md-6">
                    <b>Proceso de desconexión :</b>
                  </div>
                  <div class="col-md-6">
                    <input type="number" class="form-control input-sm" ng-model="$ctrl.periodoCorte.diaCorte" name="desconexion">
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="col-md-6">
                    <b>Dias limite para puntos :</b>
                  </div>
                  <div class="col-md-6">
                    <input type="number" class="form-control input-sm" ng-model="$ctrl.periodoCorte.diasPPP" name="prontopago">
                  </div>

                </div>

                <div class="col-md-12">
                  <div class="col-md-6">
                    <b>Dias limite para puntos de antiguedad:</b>
                  </div>
                  <div class="col-md-6">
                    <input type="number" class="form-control input-sm" ng-model="$ctrl.periodoCorte.diasPA" name="prontopagoantiguedad">
                  </div>

                </div>

              </div>
            </div>
            <div class="col-md-12 text-right">
              <br>
              <button class="btn btn-success btn-sm" type="submit">GUARDAR </button>
            </div>
          </form>
        </uib-tab>
        <uib-tab index="1" heading="">
          <uib-tab-heading>
            <i class="glyphicon glyphicon-usd"></i> Impuestos
          </uib-tab-heading>
          <form angular-validator-submit="$ctrl.GuardarImpuestos()" name="ImpuestoForm" novalidate angular-validator>
            <div class="col-md-12">
              <div class="col-md-5 col-md-offset-3">

                <h4 class="text-danger text-center">Impuestos</h4>
                <div class="col-md-12">
                  <br>
                  <div class="col-md-6">
                    <label>I.V.A %</label>
                  </div>
                  <div class="col-md-6">
                    <input type="number" class="form-control input-sm" name="iva" ng-model="$ctrl.impuestos.IVA">

                  </div>
                </div>

                <div class="col-md-12">
                  <br>
                  <div class="col-md-6">
                    <label class="checkbox-inline checkbox-styled checkbox-info">
														<input type="checkbox"  ng-model="$ctrl.impuestos.siIEPS"><span>Habilitar IEPS</span>
													</label>
                  </div>
                  <div class="col-md-6">
                    <label class="checkbox-inline checkbox-styled checkbox-info">
														<input type="checkbox" name="ivaieps" ng-model="$ctrl.IVAIEPS" checked=""><span>Calcular IVA incluyendo  IEPS</span>
													</label>

                  </div>
                </div>
                <div class="col-md-12">
                  <br>
                  <div class="col-md-6">
                    IEPS %<input type="number" name="ieps" ng-model="" class="form-control input-sm">
                  </div>
                  <div class="col-md-6">
                    <br>
                    <input type="text" name="totalieps" ng-disabled="true" ng-model="$ctrl.impuestos.IEPS" class="form-control input-sm">
                  </div>

                </div>
                <div class="col-md-12">
                  <br>
                  <div class="col-md-6">
                    Cta.IEPS
                  </div>
                  <div class="col-md-6">
                    <input type="text" name="ctaieps" ng-model="$ctrl.impuestos.Cta_IEPS" class="form-control input-sm">
                  </div>
                </div>

              </div>
              <div class="col-md-12 text-right">

                <button class="btn btn-success btn-sm" type="submit">Guardar</button>
              </div>
            </div>

          </form>

        </uib-tab>
        <uib-tab index="2" heading="">
          <uib-tab-heading>
            <i class="glyphicon glyphicon-bell"></i> Cobro de material
          </uib-tab-heading>
          <form angular-validator-submit="$ctrl.Guardarcobro()" name="ImpuestoForm" novalidate angular-validator>
            <div class="col-md-12">
              <br>
              <h4 class="text-danger text-center">Configuración de rangos de montos por cobro de material diferido</h4>

              <br>
              <br>
              <div class="col-md-4 col-md-offset-2">

                <div class="col-md-12">
                  <div class="col-md-12">
                    Rango Inicial
                    <input type="number" required-message="'Este campo es obligatorio'" ng-required="true" validate-on="dirty" class="form-control input-sm "
                      min="0" name="rangoinicial" ng-model="$ctrl.rangoinicial">
                  </div>
                  <div class="col-md-12">
                    Rango Final
                    <input type="number" required-message="'Este campo es obligatorio'" ng-required="true" validate-on="dirty" class="form-control input-sm "
                      name="rangofinal" ng-model="$ctrl.rangofinal">
                  </div>
                  <div class="col-md-12">
                    Num. max. de pagos diferidos
                    <input type="number" required-message="'Este campo es obligatorio'" ng-required="true" validate-on="dirty" class="form-control input-sm "
                      name="pagosdiferidos" ng-model="$ctrl.pagosdiferidos">
                  </div>
                  <div class="col-md-12 text-right">
                    <button class="btn btn-sm btn-success" type="submit">Aceptar</button>
                  </div>

                </div>



              </div>
              <div class="col-md-5">
                <table class="table">
                  <thead>
                    <th>Rango inicial</th>
                    <th>Rango Final</th>
                    <th>Número máximo de pagos diferidos</th>
                    <th>Opciones</th>
                  </thead>
                  <tbody>
                    <tr ng-repeat="x in $ctrl.rangos">
                      <td>{{x.inicio}}</td>
                      <td>{{x.final}}</td>
                      <td>{{x.maximo}}</td>
                      <td><button class="btn btn-xs btn-danger" type="button" ng-click="$ctrl.eliminarango(x.id)" type="buttton"> <i class="fa fa-trash"></i> Eliminar</button></td>
                    </tr>
                  </tbody>
                </table>

              </div>
              <div class="col-md-12 text-right">

              </div>
            </div>
          </form>

        </uib-tab>

        <uib-tab index="3" heading="">

          <uib-tab-heading>
            <i class="glyphicon glyphicon-home"></i> Datos de la empresa
          </uib-tab-heading>

          <form angular-validator-submit="$ctrl.Guardarinfoempresa()" name="ImpuestoForm" novalidate angular-validator>
            <div class="col-md-12">
              <br>
              <h4 class="text-danger text-center">Datos generales de la empresa</h4>
              <br>
              <div class="col-md-4 col-md-offset-2">
                <div class="col-md-12">
                  <div class="col-md-5">
                    <label><b>Empresa</b></label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" required-message="'Este campo es obligatorio'" ng-required="true" validate-on="dirty" class="form-control input-sm"
                      name="empresa" ng-model="$ctrl.GetGeneralesPrincipal.nombre">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-5">
                    <label><b>Dirección</b></label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" required-message="'Este campo es obligatorio'" ng-required="true" validate-on="dirty" class="form-control input-sm"
                      name="direccion" ng-model="$ctrl.GetGeneralesPrincipal.direccion">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-5">
                    <label><b>Numero exterior</b></label>
                  </div>
                  <div class="col-md-6">
                    <input type="number" required-message="'Este campo es obligatorio'" ng-required="true" validate-on="dirty" class="form-control input-sm"
                      name="numeroexterior" ng-model="$ctrl.GetGeneralesPrincipal.numexterior">
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="col-md-5">
                    <label><b>Numero Interior</b></label>
                  </div>
                  <div class="col-md-6">
                    <input type="number" required-message="'Este campo es obligatorio'" ng-required="true" validate-on="dirty" class="form-control input-sm"
                      name="numeroint" ng-model="$ctrl.GetGeneralesPrincipal.numinterior">
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="col-md-5">
                    <label><b>Colonia</b></label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" required-message="'Este campo es obligatorio'" ng-required="true" validate-on="dirty" class="form-control input-sm"
                      name="colonia" ng-model="$ctrl.GetGeneralesPrincipal.colonia">
                  </div>
                </div>





              </div>
              <div class="col-md-4">
                <div class="col-md-12">
                  <div class="col-md-5">
                    <label><b>Código postal</b></label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" required-message="'Este campo es obligatorio'" ng-required="true" validate-on="dirty" class="form-control input-sm"
                      name="cp" ng-model="$ctrl.GetGeneralesPrincipal.cp">
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="col-md-5">
                    <label><b>Ciudad</b></label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" required-message="'Este campo es obligatorio'" ng-required="true" validate-on="dirty" class="form-control input-sm"
                      name="ciudad" ng-model="$ctrl.GetGeneralesPrincipal.ciudad">
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="col-md-5">
                    <label><b>Estado</b></label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" required-message="'Este campo es obligatorio'" ng-required="true" validate-on="dirty" class="form-control input-sm"
                      name="estado" ng-model="$ctrl.GetGeneralesPrincipal.estado">
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="col-md-5">
                    <label><b>RFC</b></label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" required-message="'Este campo es obligatorio'" ng-required="true" validate-on="dirty" class="form-control input-sm"
                      name="rfc" ng-model="$ctrl.GetGeneralesPrincipal.rfc">
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="col-md-5">
                    <label><b>Teléfono</b></label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" required-message="'Este campo es obligatorio'" ng-required="true" validate-on="dirty" class="form-control input-sm"
                      name="telefono" ng-model="$ctrl.GetGeneralesPrincipal.telefonos">
                  </div>
                </div>


              </div>
            </div>
            <div class="col-md-12 text-right">
              <br>
              <button class="btn btn-success btn-sm" type="submit">Guardar</button>
            </div>
          </form>

        </uib-tab>
        <uib-tab index="4" heading="">
          <uib-tab-heading>
            <i class="glyphicon glyphicon-wrench"></i> Otras configuraciones
          </uib-tab-heading>

          <div class="col-md-12">
            <h4 class="text-danger text-center">Promociones</h4>
          </div>


          <input colorpicker ng-model="hexPicker.color" type="text">
        </uib-tab>
      </uib-tabset>



    </div>


  </div>
</div>
