<div class="card animated fadeIn fast" style="margin-top:20px;">
  <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
    <header>
      <strong style="font-weight:bold; border:none; margin-left:10px;">Usuarios</strong>
      <br /><small class="text-muted" style="font-size:14px; margin-left:10px;"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Configuración</a>><a href="#" class="paginaActiva">usuarios</a></small>

    </header>
    <div class="tools">
      <div class="btn-group" >
         <button title="Crear un usuario nuevo" class="btn btn-primary btn-sm" type="button" ui-sref="home.configuracion.nuevousuario" permission permission-only="'usuariosAdd'"><i class="fa fa-plus" aria-hidden="true"></i> Crear usuario</button>
      </div>
    </div>
  </div>
  <div class="card-body">
   
   
  </div>
</div>