<form angular-validator-submit="ctrl.guardar()" name="contratoForm" novalidate angular-validator>
  <div class="modal-header">
    <button class="close" aria-label="Close" type="button" ng-click="ctrl.cancel()">×</button>
    <h4 class="modal-title">Selecciona el Medio</h4>
  </div>
  <div class="modal-body">

    <div class="row">
      <div class="col-md-12">
       
        <label class="col-md-3 control-label blod">Medio:</label>

        <div class="col-md-9" style="padding-left:-10px;">
          <select class="form-control input-sm" name="medios" validate-on="dirty" ng-model="ctrl.medio"
            ng-options="item as item.Descripcion for item in ctrl.medios track by item.IdMedio" required-message="'Este campo es obligatorio.'" required>
                <option value="">selecciona</option>
            </select>
        </div>

      </div>
      



    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default btn-sm" type="button" ng-click="ctrl.cancel()">Cancelar</button>
    <button class="btn btn-primary btn-sm"  type="submit">Aceptar</button>
  </div>
</form>
