<style type="text/css">
    .table-scroll {
        height: 150px;
        overflow: auto;
        margin-top: 20px;
    }
</style>

<form name="FormCluster" novalidate angular-validator autocomplete="off">
    <div class="modal-header">
        <button class="close" type="button" aria-label="close" title="Salir" ng-click="ctrl.cancel()">x</button>
        <h4 class="modal-title"><i ng-class="ctrl.Icono"></i> {{ ctrl.Titulo }}</h4>
    </div>
    <div class="col-md-8" style="font-weight:bold;">
    </div>
    <button type="button" ng-disabled="ctrl.blockdelete1" class="btn btn-danger btn-xs" ng-click="$ctrl.Cancel()" title="Eliminar Registro "><i class="glyphicon glyphicon-trash"></i> ELIMINAR</button>
    <button type="button" ng-disabled="ctrl.blocksave" class="btn btn-info btn-xs" ng-click="$ctrl.Cancel()" title="Guardar Registro"><i class="	glyphicon glyphicon-floppy-disk"></i>GUARDAR</button>

    <fieldset ng-disabled="ctrl.blockForm">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-5">
                        <p> <b>Datos del Cluster </b></p>
                    <div>
                        <p><b><small>Clave:</small></b>
                            <input name="InpClave" type="number" class="form-control input-sm" ng-model="$ctrl.Clave" validate-on="dirty" required required-message="'Obligatorio'">
                        </p>
                    </div>
                </div>
                <div class="col-md-8">
                    <div>
                        <p><b><small>Descripcion  :</small></b></p>
                        <input name="InpSerie" type="text" class="form-control input-sm" ng-model="$ctrl.Serie" validate-on="dirty">
                    </div>
                </div>
            </div>
            <br>
            <b>Relación de Sectores con  Cluster</b>
            <hr style="border:1px dotted;">

            <div class="row">
                <div class="col-md-8">
                    <div>
                        <div class="col-md-3">
                            <b><small>Nombre :</small></b>
                        </div>
                        <div class="col-md-8">
                            <select name="SltNombre" class="form-control input-sm" ng-model="$ctrl.Plaza" ng-change="$ctrl.buscar(2)" aria-placeholder="Seleccione el Nombre"
                                ng-options="item as item.razon_social for item in $ctrl.plazas track by item.id_compania">
                                    
                                    <option value="">Selecciona un Nombre</option>
                             </select>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                    <div class="col-md-8">
                <table class="table">
                    <thead>
                        <tr>
                           
                            <th width="20%" style="text-align:center"><b>Sector</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="X in $ctrl.suscursales|itemsPerPage:7">
                           
                            <td>{{ X.Sector }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </fieldset>
    <div class="modal-footer">

        <button type="button" ng-disabled="ctrl.blocksave" class="btn btn-info btn-xs" ng-click="$ctrl.Cancel()" title="Agregar Relacion"><i class="	glyphicon glyphicon-plus"></i> AGREGAR</button>
        <button type="button" ng-disabled="ctrl.blockdelete" class="btn btn-danger btn-xs" ng-click="$ctrl.Cancel()" title="Eliminar Relacion "><i class="glyphicon glyphicon-trash"></i> ELIMINAR</button>
    </div>
</form>